
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="hostSection ">
    <div class="uk-margin-auto-right uk-margin-auto-left uk-margin-auto-top uk-margin-auto-bottom cover uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200">
        <img class="uk-margin-auto uk-margin-top center" src="~/img/Home/Host/Hero-host.svg" />
    </div>

    <!--about linux host region-->
    <div class="my-column my-clipped" dir="rtl">
        <content class="Services my-row uk-padding">
            <div class="my-column my-clipped" dir="rtl">
                <h2>هاست لینوکس</h2>
                <img class="center MobileSize " src="~/img/Home/Host/linuxhosting.png" />
                <p> خدمات طراحی و توسعه وب سایت های کاربردی و عملیاتی و طراحی پورتال، برنامه نویسی و توسعه انواع نرم افزارهای کاربردی تحت وب، با توجه به نیازها، نوع فعالیت و متناسب با بودجه در نظر گرفته شده توسط مشتری صورت می پذیرد. در بعضی از موارد يک وب سايت زيبا به تنهايي کارساز نيست و برای موفقيت در تجارت بايد بتوانيد ارتباط قوي تری با بازديدکنندگان خود داشته باشيد و یا اینکه عملیاتی را نیاز دارید که میتواند به ارائه هرچه بهتر خدمات شما کمک کند. </p>
            </div>
            <img class="DesktopSize" src="~/img/Home/Host/linuxhosting.png" />
        </content>
    </div>
    <!--end region-->
    <div class="hostType my-clipped my-column uk-padding" dir="rtl">
        <div class="mat uk-padding">
            <h4>هاست معمولی</h4>
            <p>طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر معمولی متن باشد</p>
            <ul class="my-column uk-padding-remove" dir="rtl">
                <li> <i class="fas fa-check uk-text-success"></i>ا گیگا بایت حجم</li>
                <li><i class="fas fa-check uk-text-success"></i>70 گیگ ترافیک </li>
                <li><i class="fas fa-check uk-text-success"></i>پشتیبانی رایگان</li>
                <li><i class="fas fa-check uk-text-success"></i>دیتا سنتر پارس آنلاین</li>
            </ul>
            <button class="ServiceButton" onclick="window.location.href='/products'">مشاهده محصولات</button>
        </div>
        <div class="mat uk-padding">
            <h4>هاست معمولی</h4>
            <p>طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر معمولی متن باشد</p>
            <ul class="my-column uk-padding-remove" dir="rtl">
                <li> <i class="fas fa-check uk-text-success"></i>ا گیگا بایت حجم</li>
                <li><i class="fas fa-check uk-text-success"></i>70 گیگ ترافیک </li>
                <li><i class="fas fa-check uk-text-success"></i>پشتیبانی رایگان</li>
                <li><i class="fas fa-check uk-text-success"></i>دیتا سنتر پارس آنلاین</li>
            </ul>
            <button class="ServiceButton margin-auto-left" onclick="window.location.href='/products'">مشاهده محصولات</button>
        </div>
        <div class="mat uk-padding">
            <h4>هاست معمولی</h4>
            <p>طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر معمولی متن باشد</p>
            <ul class="my-column uk-padding-remove" dir="rtl">
                <li> <i class="fas fa-check uk-text-success"></i>ا گیگا بایت حجم</li>
                <li><i class="fas fa-check uk-text-success"></i>70 گیگ ترافیک </li>
                <li><i class="fas fa-check uk-text-success"></i>پشتیبانی رایگان</li>
                <li><i class="fas fa-check uk-text-success"></i>دیتا سنتر پارس آنلاین</li>
            </ul>
            <button class="ServiceButton" onclick="window.location.href='/products'">مشاهده محصولات</button>
        </div>
    </div>



</div>
