@model DataLayer.ChildCategoryINViewViewmodel
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="hostSection ">
    <div class="uk-margin-auto-right uk-margin-auto-left uk-margin-auto-top uk-margin-auto-bottom cover uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200">
        <img class="uk-margin-auto uk-margin-top center" src="~/img/Home/Host/Hero-host.svg" />
    </div>

    <!--about linux host region-->
    <div class="my-column my-clipped" dir="rtl">
        <content class="Services my-row uk-padding">
            <div class="my-column my-clipped" dir="rtl">
                <h2>@Model.ServiceCategory.Title</h2>
                <img class="center MobileSize " src="~/Document/img/Category/@Model.ServiceCategory.Image" />
                <p>
                    @Html.Raw(Model.ServiceCategory.Description)
                </p>
            </div>
            <img class="DesktopSize" src="~/Document/img/Category/@Model.ServiceCategory.Image" />
        </content>
    </div>
    <!--end region-->
    <div class="hostType my-clipped my-column uk-padding" dir="rtl">
        @foreach (var item in Model.serviceCategories)
        {
            <div class="mat uk-padding">
                <h4>@item.Title</h4>
                <p>
                    @Html.Raw(item.Description.Substring(0,100))
                </p>
                <a href="/products/@item.ID" class="ServiceButton">مشاهده محصولات</a>
            </div>

        }
    </div>



</div>
