
@{
    ViewBag.Title = "شرکت ایده پردازان آروین تاو";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<!--cover photo region -->
<!--<div class="cover uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200">
    <img class="uk-margin-auto uk-margin-top center" src="~/img/Home/images.jfif" />-->
@*<h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">Headline</h1>*@

<!--</div>-->
<div class="IndexPage">
    <div class="headSlider uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="autoplay:true" dir="rtl">
        <ul class="uk-slideshow-items">
            <li>
                <img src="~/img/Home/web-design-1.png" alt="">
                <div class="coverContent uk-position-left uk-position-small uk-text-center">
                    <h3 uk-slideshow-parallax="x: 100,-100">طراحی وب سایت</h3>
                    <p uk-slideshow-parallax="x: 200,-200" dir="rtl">طراحان سایت هنگام طراحی قالب سایت معمولا با این موضوع رو برو هستند که محتوای اصلی صفحات آماده نیست. در نتیجه طرح کلی دید درس.</p>
                    <button class="ServiceButton">ورود</button>
                </div>
            </li>
            <li>
                <img src="~/img/Home/digital-marketing.svg" alt="">
                <div class="coverContent uk-position-left uk-position-small uk-text-center">
                    <h3 uk-slideshow-parallax="x: 100,-100">دیجیتال مارکتینگ</h3>
                    <p uk-slideshow-parallax="x: 200,-200" dir="rtl">طراحان سایت هنگام طراحی قالب سایت معمولا با این موضوع رو برو هستند که محتوای اصلی صفحات آماده نیست. در نتیجه طرح کلی دید درس.</p>
                    <button class="ServiceButton">ورود</button>
                </div>
            </li>
            <li>
                <img src="~/img/Home/online-training.jpg" alt="">
                <div class="coverContent uk-position-left uk-position-small uk-text-center">
                    <h3 uk-slideshow-parallax="x: 100,-100">آموزش آنلاین</h3>
                    <p uk-slideshow-parallax="x: 200,-200" dir="rtl">طراحان سایت هنگام طراحی قالب سایت معمولا با این موضوع رو برو هستند که محتوای اصلی صفحات آماده نیست. در نتیجه طرح کلی دید درس.</p>
                    <button class="ServiceButton">ورود</button>
                </div>
            </li>
        </ul>

        <a class="uk-slidenav-large uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-slidenav-large uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    </div>
    <div class="endOfCover"></div>
    <!--end region -->
    <!--sponsors region -->
    <div class="sponsor uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true; ">
        <ul class="uk-slider-items uk-child-width-1-3 uk-child-width-1-5@m uk-grid  center overflow-visible">

            <li>
                <a><img src="~/img/Home/svg/Customer-Logo/Frame 13.svg" /></a>
            </li>
            <li>
                <a><img src="~/img/Home/svg/Customer-Logo/Group 52.svg" /> </a>
            </li>
            <li>
                <a><img src="~/img/Home/svg/Customer-Logo/M.svg" /> </a>
            </li>
            <li>

                <a><img src="~/img/Home/svg/Customer-Logo/Main 1.svg" /> </a>
            </li>
            <li>
                <a><img src="~/img/Home/svg/Customer-Logo/N.svg" /></a>
            </li>
            <li>
                <a><img src="~/img/Home/svg/Customer-Logo/Frame 13.svg" /></a>
            </li>
            <li>
                <a><img src="~/img/Home/svg/Customer-Logo/Group 52.svg" /> </a>
            </li>
            <li>
                <a><img src="~/img/Home/svg/Customer-Logo/M.svg" /> </a>
            </li>
            <li>

                <a><img src="~/img/Home/svg/Customer-Logo/Main 1.svg" /> </a>
            </li>
            <li>
                <a><img src="~/img/Home/svg/Customer-Logo/N.svg" /></a>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>
    <!--end region -->
    <hr />
    <!--services region-->
    <div class="my-column my-clipped" dir="rtl">
        <content class="Services my-row uk-padding">
            <div class="my-column my-clipped" uk-scrollspy="cls: uk-animation-slide-right; repeat:false" dir="rtl">
                <h2>طراحی سایت</h2>
                <img class="center MobileSize" uk-scrollspy="cls: uk-animation-slide-left; repeat: false " src="~/img/Home/svg/Waterfall/Website.svg" />
                <p> خدمات طراحی و توسعه وب سایت های کاربردی و عملیاتی و طراحی پورتال، برنامه نویسی و توسعه انواع نرم افزارهای کاربردی تحت وب، با توجه به نیازها، نوع فعالیت و متناسب با بودجه در نظر گرفته شده توسط مشتری صورت می پذیرد. در بعضی از موارد يک وب سايت زيبا به تنهايي کارساز نيست و برای موفقيت در تجارت بايد بتوانيد ارتباط قوي تری با بازديدکنندگان خود داشته باشيد و یا اینکه عملیاتی را نیاز دارید که میتواند به ارائه هرچه بهتر خدمات شما کمک کند. </p>
                <button class="ServiceButton">بیشتر</button>
            </div>
            <img class="DesktopSize" uk-scrollspy="cls: uk-animation-slide-left; repeat: false " src="~/img/Home/svg/Waterfall/Website.svg" />
        </content>
        <content class="Services my-row uk-padding">
            <img class="DesktopSize" uk-scrollspy="cls: uk-animation-slide-right; repeat:false" src="~/img/Home/svg/Waterfall/SocialMedia.svg" />
            <div class="my-column my-clipped" uk-scrollspy="cls: uk-animation-slide-left; repeat: false " dir="rtl">
                <h2>دیجیتال مارکتینگ</h2>
                <img class="center MobileSize" uk-scrollspy="cls: uk-animation-slide-right; repeat:false" src="~/img/Home/svg/Waterfall/SocialMedia.svg" />
                <p> خدمات طراحی و توسعه وب سایت های کاربردی و عملیاتی و طراحی پورتال، برنامه نویسی و توسعه انواع نرم افزارهای کاربردی تحت وب، با توجه به نیازها، نوع فعالیت و متناسب با بودجه در نظر گرفته شده توسط مشتری صورت می پذیرد. در بعضی از موارد يک وب سايت زيبا به تنهايي کارساز نيست و برای موفقيت در تجارت بايد بتوانيد ارتباط قوي تری با بازديدکنندگان خود داشته باشيد و یا اینکه عملیاتی را نیاز دارید که میتواند به ارائه هرچه بهتر خدمات شما کمک کند. </p>
                <button class="ServiceButton">بیشتر</button>
            </div>
        </content>
        <content class="Services my-row uk-padding">
            <div class="my-column my-clipped" uk-scrollspy="cls: uk-animation-slide-right; repeat:false" dir="rtl">
                <h2>آموزش آنلاین</h2>
                <img class="center MobileSize" uk-scrollspy="cls: uk-animation-slide-left; repeat: false " src="~/img/Home/svg/Waterfall/Learning.svg" />
                <p> خدمات طراحی و توسعه وب سایت های کاربردی و عملیاتی و طراحی پورتال، برنامه نویسی و توسعه انواع نرم افزارهای کاربردی تحت وب، با توجه به نیازها، نوع فعالیت و متناسب با بودجه در نظر گرفته شده توسط مشتری صورت می پذیرد. در بعضی از موارد يک وب سايت زيبا به تنهايي کارساز نيست و برای موفقيت در تجارت بايد بتوانيد ارتباط قوي تری با بازديدکنندگان خود داشته باشيد و یا اینکه عملیاتی را نیاز دارید که میتواند به ارائه هرچه بهتر خدمات شما کمک کند. </p>
                <button class="ServiceButton">بیشتر</button>
            </div>
            <img class="DesktopSize" uk-scrollspy="cls: uk-animation-slide-left; repeat: false " src="~/img/Home/svg/Waterfall/Learning.svg" />
        </content>
    </div>

    <!--end region -->
    <div class="space"></div>
    <!--projects region-->
    <div class="GreenBackground projectsSlider">
        <h4 class="center">آخرین پروژه ها</h4>

        <div class="uk-position-relative uk-visible-toggle uk-light overflow-visible" tabindex="-1" uk-slider="autoplay: true">
            <ul class="uk-slider-items uk-grid overflow-visible uk-slider-items uk-child-width-1-1@s  uk-child-width-1-2@m uk-child-width-1-3@l ">
                <li>
                    <div class="uk-flex-row">
                        <div class="uk-panel mat center my-column my-clipped uk-margin-auto uk-animation-toggle" dir="rtl">
                            <img src="~/img/Home/svg/Customer-Logo/N.svg" />
                            <div class="my-row uk-margin-medium-top">
                                <div class="rightSideLine uk-animation-scale-up uk-transform-origin-top-center"></div>
                                <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                            </div>
                            <a class="center">بیشتر...</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-flex-row">
                        <div class="uk-panel mat center my-column my-clipped uk-margin-auto uk-animation-toggle" dir="rtl">
                            <img src="~/img/Home/svg/Customer-Logo/Main 1.svg" />
                            <div class="my-row uk-margin-medium-top">
                                <div class="rightSideLine uk-animation-scale-up uk-transform-origin-top-center"></div>
                                <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                            </div>
                            <a class="center">بیشتر...</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-flex-row">
                        <div class="uk-panel mat center my-column my-clipped uk-margin-auto uk-animation-toggle" dir="rtl">
                            <img src="~/img/Home/svg/Customer-Logo/Group 52.svg" />
                            <div class="my-row uk-margin-medium-top">
                                <div class="rightSideLine uk-animation-scale-up uk-transform-origin-top-center"></div>
                                <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                            </div>
                            <a class="center">بیشتر...</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-flex-row">
                        <div class="uk-panel mat center my-column my-clipped uk-margin-auto uk-animation-toggle" dir="rtl">
                            <img src="~/img/Home/svg/Customer-Logo/Group 52.svg" />
                            <div class="my-row uk-margin-medium-top">
                                <div class="rightSideLine uk-animation-scale-up uk-transform-origin-top-center"></div>
                                <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                            </div>
                            <a class="center">بیشتر...</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-flex-row">
                        <div class="uk-panel mat center my-column my-clipped uk-margin-auto uk-animation-toggle" dir="rtl">
                            <img src="~/img/Home/svg/Customer-Logo/Main 1.svg" />
                            <div class="my-row uk-margin-medium-top">
                                <div class="rightSideLine uk-animation-scale-up uk-transform-origin-top-center"></div>
                                <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                            </div>
                            <a class="center">بیشتر...</a>
                        </div>
                    </div>
                </li>

            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
    </div>
    <!--end region -->
    <!--why arvintov region-->
    <div class="whyArvin my-column my-clipped uk-margin-top" dir="rtl">
        <content class="Services my-row uk-padding">
            <div class="my-column my-clipped" uk-scrollspy="cls: uk-animation-slide-right; repeat:false" dir="rtl">
                <h2>چرا آروین تاو</h2>
                <img class=" MobileSize center" uk-scrollspy="cls: uk-animation-slide-left; repeat:false" src="~/img/Home/why.png" />
                <div class="whyComponent" dir="rtl">
                    <ul>
                        <li><img src="~/img/Home/svg/Why/Success.svg" /><labal dir="rtl">توجه به موفقیت مشتریان</labal></li>
                        <li><img src="~/img/Home/svg/Why/Analize.svg" /><labal>مشاوره و آنالیز دقیق کسب و کار قبل از راه اندازی تجارت الکترونیک شما</labal>
                        <li><img src="~/img/Home/svg/Why/Experience.svg" /><labal>تجربه قدرتمند و به روز</labal></li>
                        <li><img src="~/img/Home/svg/Why/Foundation.svg" /><labal>تخصصی ترین زیرساخت ها برای الکترونیکی سازی فعالیت های شما</labal></li>
                        <li><img src="~/img/Home/svg/Why/Fill.svg" /><labal>سبد کامل محصولات و خدمات اختصاصی شده برای کسب و کار شما</labal></li>
                        <li><img src="~/img/Home/svg/Why/Content.svg" /><labal>تولید محتوا ی حرفه ای</labal></li>
                        <li><img src="~/img/Home/svg/Why/Quality.svg" /><labal>توجه به کیفیت</labal></li>
                        <li><img src="~/img/Home/svg/Why/Team.svg" /><content>تیم بزرگی از متخصصان حوزه تجارت الکترونیک و برنامه نویسی متخصص</content></li>
                    </ul>
                </div>
            </div>
            <img class=" DesktopSize uk-margin-auto-top uk-margin-auto-bottom" uk-scrollspy="cls: uk-animation-slide-left; repeat:false" src="~/img/Home/why.png" />
        </content>

    </div>


    <!--end region>-->
    <!--packages-->
    <div class="my-clipped my-column ">
        <div class="Packages center">
            <article class="packageOffer column uk-padding center uk-margin-remove">
                <content>
                    <i class="far fa-gem fa-2x"></i>
                    <h3>هدر</h3>
                    <div class="space-half"></div>
                    <p>توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج</p>
                    <div class="space"></div>
                    <div class="space"></div>
                    <div class="space"></div>
                    <button class="ServiceButton">سفارش</button>

                </content>
            </article>
            <article class="topPackage column uk-padding center uk-margin-remove ">
                <content>
                    <i class="far fa-gem fa-2x"></i>
                    <h3>هدر</h3>
                    <div class="space-half"></div>
                    <p>توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج</p>
                    <div class="space"></div>
                    <div class="space"></div>
                    <div class="space"></div>
                    <button class="ServiceButton">سفارش</button>

                </content>
            </article>
            <article class="packageOffer column uk-padding center uk-margin-remove ">
                <content>
                    <i class="far fa-gem fa-2x"></i>
                    <h3>هدر</h3>
                    <div class="space-half"></div>
                    <p>توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج</p>
                    <div class="space"></div>
                    <div class="space"></div>
                    <div class="space"></div>
                    <button class="ServiceButton">سفارش</button>

                </content>
            </article>
        </div>

    </div>
    <!--end region-->
    <!--about region-->
    <div class="space"></div>
    <div class="AboutArvin">
        <div class="my-column my-clipped" dir="rtl">
            <content class="Services my-row uk-padding">
                <div class="my-column my-clipped" dir="rtl">
                    <h2>ما کیستیم</h2>
                    <img class=" MobileSize center" src="~/img/Home/svg/WorkFlow.svg" />
                    <p>
                        شرکت ایده پرداز آروین تاو با پشتوانه ی تخصص اعضا و تیم های اجرایی متخصص خود در حوزه فناوری اطلاعات، تجارت الکترونیکی، طراحی و توسعه وب سایت های اختصاصی و عملیاتی، برنامه نویسی و توسعه انواع نرم افزار های تحت وب و تحت ویندوز و تحت موبایل( اندروید و IOS) با بروز ترین تکنولوژی های روز دنیا و با هدف  الکترونیکی کردن کسب و کارها و یکپارچه سازی تمامی این فعالیت ها با تشکیل تیمهای قدرتمند و متخصص سعی بر این دارد زیر ساختهایی را بوجود آورد که مردم و کسب و کارها از مزیت های تکنولوژی و تجارت الکترونیکی به ساده ترین شکل ممکن بهره مند شوند و در هزینه های خود بطور چشمگیری صرفه جویی کنند شرکت ایده پرداز آروین تاو برای هر یک از خواسته های شما تیم های قدرتمندی متشکل از برنامه نویسان حرفه ای تدارک دیده است تا به تمامی اهداف شما جامه عمل بپوشاند و شما را در رسیدن به اهدافتان یاری نماید و همچنین با از بین بردن مرزهای جغرافیای دایره مشتریانتان را گسترش دهد درحالی که بطور قابل توجهی تا 80% از هزینه های اضافی شما را کاهش میدهد
                    </p>
                </div>
                <img class=" DesktopSize uk-margin-auto-top uk-margin-auto-bottom" src="~/img/Home/svg/WorkFlow.svg" />
            </content>

        </div>

        <!--end region-->
        <!--our team region-->
        <div class="ourteamSlider uk-position-relative uk-visible-toggle uk-light overflow-visible" tabindex="-1" uk-slider="autoplay: true">

            <ul class="uk-slider-items uk-grid overflow-visible" dir="ltr">
                <li>
                    <div class="uk-panel mat center my-column my-clipped">
                        <img class="center" src="~/img/login/login2.png" />
                        <content class="my-column uk-margin-auto-left uk-padding ">
                            <label>اسم</label>
                            <label>تخصص</label>
                        </content>
                    </div>
                </li>
                <li>
                    <div class="uk-panel mat center my-column my-clipped">
                        <img class="center" src="~/img/login/login2.png" />
                        <content class="my-column uk-margin-auto-left uk-padding">
                            <label>اسم</label>
                            <label>تخصص</label>
                        </content>
                    </div>
                </li>
                <li>
                    <div class="uk-panel mat center my-column my-clipped">
                        <img class="center" src="~/img/login/login2.png" />
                        <content class="my-column uk-margin-auto-left uk-padding">
                            <label>اسم</label>
                            <label>تخصص</label>
                        </content>
                    </div>
                </li>
                <li>
                    <div class="uk-panel mat center my-column my-clipped">
                        <img class="center" src="~/img/login/login2.png" />
                        <content class="my-column uk-margin-auto-left uk-padding">
                            <label>اسم</label>
                            <label>تخصص</label>
                        </content>
                    </div>
                </li>
                <li>
                    <div class="uk-panel mat center my-column my-clipped">
                        <img class="center" src="~/img/login/login2.png" />
                        <content class="my-column uk-margin-auto-left uk-padding">
                            <label>اسم</label>
                            <label>تخصص</label>
                        </content>
                    </div>
                </li>
                <li>
                    <div class="uk-panel mat center my-column my-clipped">
                        <img class="center" src="~/img/login/login2.png" />
                        <content class="my-column uk-margin-auto-left uk-padding">
                            <label>اسم</label>
                            <label>تخصص</label>
                        </content>
                    </div>
                </li>
                <li>
                    <div class="uk-panel mat center my-column my-clipped">
                        <img class="center" src="~/img/login/login2.png" />
                        <content class=" my-column uk-margin-auto-left uk-padding">
                            <label>اسم</label>
                            <label>تخصص</label>
                        </content>
                    </div>
                </li>
                <li>
                    <div class="uk-panel mat center my-column my-clipped ">
                        <img class="center" src="~/img/login/login2.png" />
                        <content class=" my-column uk-margin-auto-left uk-padding">
                            <label>اسم</label>
                            <label>تخصص</label>
                        </content>
                    </div>
                </li>
                <li>
                    <div class="uk-panel mat center my-column my-clipped">
                        <img class="center" src="~/img/login/login2.png" />
                        <content class=" my-column uk-margin-auto-left uk-padding ">
                            <label>اسم</label>
                            <label>تخصص</label>
                        </content>
                    </div>
                </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
    </div>
    <!--end region-->
</div>



<script src="~/Scripts/UIkit/uikit.min.js"></script>
<script src="~/Scripts/UIkit/uikit-icons.min.js"></script>

