
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<!--cover photo region -->
<div class="headSlider uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

    <ul class="uk-slideshow-items">
        <li>
            <img src="https://picsum.photos/600/300" alt="" uk-cover>
            <div class="uk-position-center uk-position-small uk-text-center">
                <h2 uk-slideshow-parallax="x: 100,-100">طراحی سایت</h2>
                <p  uk-slideshow-parallax="x: 200,-200" dir="rtl">طراحان سایت هنگام طراحی قالب سایت معمولا با این موضوع رو برو هستند که محتوای اصلی صفحات آماده نیست. در نتیجه طرح کلی دید درس.</p>
                <button class="ServiceButton">ورود</button>
            </div>
        </li>
        <li>
            <img src="https://picsum.photos/600/300" alt="" uk-cover>
            <div class="uk-position-center uk-position-small uk-text-center">
                <h2 uk-slideshow-parallax="x: 100,-100">طراحی سایت</h2>
                <p uk-slideshow-parallax="x: 200,-200" dir="rtl">طراحان سایت هنگام طراحی قالب سایت معمولا با این موضوع رو برو هستند که محتوای اصلی صفحات آماده نیست. در نتیجه طرح کلی دید درس.</p>
                <button class="ServiceButton">ورود</button>
            </div>
        </li>
        <li>
            <img src="https://picsum.photos/600/300" alt="" uk-cover>
            <div class="uk-position-center uk-position-small uk-text-center">
                <h2 uk-slideshow-parallax="x: 100,-100">طراحی سایت</h2>
                <p uk-slideshow-parallax="x: 200,-200" dir="rtl">طراحان سایت هنگام طراحی قالب سایت معمولا با این موضوع رو برو هستند که محتوای اصلی صفحات آماده نیست. در نتیجه طرح کلی دید درس.</p>
                <button class="ServiceButton">ورود</button>
            </div>
        </li>
    </ul>

    <a class="uk-slidenav-large uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-slidenav-large uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>
<!--end region -->


<!--sponsors region -->
<div class="sponsor uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
    <ul class="uk-slider-items uk-child-width-1-4 uk-child-width-1-6\*m uk-grid  center overflow-visible">

        <li>
            <a>اسپانسر 9</a>
        </li>
        <li>
            <a>اسپانسر 8</a>
        </li>
        <li>
            <a>اسپانسر 7</a>
        </li>
        <li>
            <a>اسپانسر 6</a>
        </li>
        <li>
            <a>اسپانسر 5</a>
        </li>
        <li>
            <a>اسپانسر 4</a>
        </li>
        <li>
            <a>اسپانسر 3</a>
        </li>
        <li>
            <a>اسپانسر 2</a>
        </li>
        <li>
            <a>اسپانسر 1</a>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>
<!--end region -->
<hr />
<!--services region-->
<div class="my-column my-clipped" dir="rtl">
    <content class="Services my-row uk-padding">
        <div class="my-column my-clipped" dir="rtl">
            <h2>طراحی سایت</h2>
            <img class="center MobileSize " src="~/img/Home/web-developer-master-tn.svg" />
            <p> خدمات طراحی و توسعه وب سایت های کاربردی و عملیاتی و طراحی پورتال، برنامه نویسی و توسعه انواع نرم افزارهای کاربردی تحت وب، با توجه به نیازها، نوع فعالیت و متناسب با بودجه در نظر گرفته شده توسط مشتری صورت می پذیرد. در بعضی از موارد يک وب سايت زيبا به تنهايي کارساز نيست و برای موفقيت در تجارت بايد بتوانيد ارتباط قوي تری با بازديدکنندگان خود داشته باشيد و یا اینکه عملیاتی را نیاز دارید که میتواند به ارائه هرچه بهتر خدمات شما کمک کند. </p>
            <button class="ServiceButton">بیشتر</button>
        </div>
        <img class="DesktopSize" src="~/img/Home/web-developer-master-tn.svg" />
    </content>
    <content class="Services my-row uk-padding">
        <img class="DesktopSize" src="~/img/Home/web-developer-master-tn.svg" />
        <div class="my-column my-clipped" dir="rtl">
            <h2>طراحی سایت</h2>
            <img class="center MobileSize " src="~/img/Home/web-developer-master-tn.svg" />
            <p> خدمات طراحی و توسعه وب سایت های کاربردی و عملیاتی و طراحی پورتال، برنامه نویسی و توسعه انواع نرم افزارهای کاربردی تحت وب، با توجه به نیازها، نوع فعالیت و متناسب با بودجه در نظر گرفته شده توسط مشتری صورت می پذیرد. در بعضی از موارد يک وب سايت زيبا به تنهايي کارساز نيست و برای موفقيت در تجارت بايد بتوانيد ارتباط قوي تری با بازديدکنندگان خود داشته باشيد و یا اینکه عملیاتی را نیاز دارید که میتواند به ارائه هرچه بهتر خدمات شما کمک کند. </p>
            <button class="ServiceButton">بیشتر</button>
        </div>
    </content>
    <content class="Services my-row uk-padding">
        <div class="my-column my-clipped" dir="rtl">
            <h2>طراحی سایت</h2>
            <img class="center MobileSize " src="~/img/Home/web-developer-master-tn.svg" />
            <p> خدمات طراحی و توسعه وب سایت های کاربردی و عملیاتی و طراحی پورتال، برنامه نویسی و توسعه انواع نرم افزارهای کاربردی تحت وب، با توجه به نیازها، نوع فعالیت و متناسب با بودجه در نظر گرفته شده توسط مشتری صورت می پذیرد. در بعضی از موارد يک وب سايت زيبا به تنهايي کارساز نيست و برای موفقيت در تجارت بايد بتوانيد ارتباط قوي تری با بازديدکنندگان خود داشته باشيد و یا اینکه عملیاتی را نیاز دارید که میتواند به ارائه هرچه بهتر خدمات شما کمک کند. </p>
            <button class="ServiceButton">بیشتر</button>
        </div>
        <img class="DesktopSize" src="~/img/Home/web-developer-master-tn.svg" />
    </content>
    <content class="Services my-row uk-padding">
        <img class="DesktopSize" src="~/img/Home/web-developer-master-tn.svg" />
        <div class="my-column my-clipped" dir="rtl">
            <h2>طراحی سایت</h2>
            <img class="center MobileSize " src="~/img/Home/web-developer-master-tn.svg" />
            <p> خدمات طراحی و توسعه وب سایت های کاربردی و عملیاتی و طراحی پورتال، برنامه نویسی و توسعه انواع نرم افزارهای کاربردی تحت وب، با توجه به نیازها، نوع فعالیت و متناسب با بودجه در نظر گرفته شده توسط مشتری صورت می پذیرد. در بعضی از موارد يک وب سايت زيبا به تنهايي کارساز نيست و برای موفقيت در تجارت بايد بتوانيد ارتباط قوي تری با بازديدکنندگان خود داشته باشيد و یا اینکه عملیاتی را نیاز دارید که میتواند به ارائه هرچه بهتر خدمات شما کمک کند. </p>
            <button class="ServiceButton">بیشتر</button>
        </div>
    </content>
</div>

<!--end region -->
<div class="space"></div>
<!--projects region-->
<div class="projectsSlider uk-position-relative uk-visible-toggle uk-light overflow-visible" tabindex="-1" uk-slider="sets: true">

    <ul class="uk-slider-items uk-grid overflow-visible">
        <li>
            <div class="uk-panel mat center my-column my-clipped" dir="rtl">
                <h4>پارکینگ تاو</h4>
                <p>توضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاو</p>
                <div class="space"></div>
                <div class="space"></div>
                <button class="center ServiceButton">بیشتر</button>
            </div>
        </li>
        <li>
            <div class="uk-panel mat center my-column my-clipped" dir="rtl">
                <h4>پارکینگ تاو</h4>
                <p>توضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاو</p>
                <div class="space"></div>
                <div class="space"></div>
                <button class="center ServiceButton">بیشتر</button>
            </div>
        </li>
        <li>
            <div class="uk-panel mat center my-column my-clipped" dir="rtl">
                <h4>پارکینگ تاو</h4>
                <p>توضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاو</p>
                <div class="space"></div>
                <div class="space"></div>
                <button class="center ServiceButton">بیشتر</button>
            </div>
        </li>
        <li>
            <div class="uk-panel mat center my-column my-clipped" dir="rtl">
                <h4>پارکینگ تاو</h4>
                <p>توضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاو</p>
                <div class="space"></div>
                <div class="space"></div>
                <button class="center ServiceButton">بیشتر</button>
            </div>
        </li>
        <li>
            <div class="uk-panel mat center my-column my-clipped" dir="rtl">
                <h4>پارکینگ تاو</h4>
                <p>توضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاوتوضیحات پارکینگ تاو</p>
                <div class="space"></div>
                <div class="space"></div>
                <button class="center ServiceButton">بیشتر</button>
            </div>
        </li>

    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
</div>
<!--end region -->
<div class="space"></div>
<!--grid(host) region-->

<div class="GridBackground">

    <content class="grid " dir="rtl">

        <article class="column mat uk-padding center ">
            <content>
                <h3>هدر</h3>
                <p>مشتری صورت می پذیرد. در بعضی از موارد يک وب سايت زيبا به تنهايي کارساز نيست و برای موفقيت در تجارت بايد بتوانيد ارتباط قوي تری با بازديدکنندگان خود داشته باشيد و یا اینکه عملیاتی را نیاز دارید که میتواند به ارائه هرچه بهتر خدمات شما کمک کند</p>
                <a class="uk-margin-auto-top" href="#">بیشتر...</a>
            </content>
        </article>

        <article class="column mat uk-padding center ">
            <content>
                <h3>هدر</h3>
                <p>مشتری صورت می پذیرد. در بعضی از موارد يک وب سايت زيبا به تنهايي کارساز نيست و برای موفقيت در تجارت بايد بتوانيد ارتباط قوي تری با بازديدکنندگان خود داشته باشيد و یا اینکه عملیاتی را نیاز دارید که میتواند به ارائه هرچه بهتر خدمات شما کمک کند</p>
                <a class="uk-margin-auto-top" href="#">بیشتر...</a>
            </content>
        </article>

        <article class="column mat uk-padding center ">
            <content>
                <h3>هدر</h3>
                <p>مشتری صورت می پذیرد. در بعضی از موارد يک وب سايت زيبا به تنهايي کارساز نيست و برای موفقيت در تجارت بايد بتوانيد ارتباط قوي تری با بازديدکنندگان خود داشته باشيد و یا اینکه عملیاتی را نیاز دارید که میتواند به ارائه هرچه بهتر خدمات شما کمک کند</p>
                <a class="uk-margin-auto-top" href="#">بیشتر...</a>
            </content>
        </article>

    </content>
</div>
<!--end region -->
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<!--packages-->
<div class="my-clipped my-column ">
    <div class="Packages center">
        <article class="packageOffer column uk-padding center uk-margin-remove">
            <content>
                <i class="far fa-gem fa-2x"></i>
                <h3>هدر</h3>
                <div class="space-half"></div>
                <p>توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج</p>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <button class="ServiceButton">سفارش</button>

            </content>
        </article>
        <article class="topPackage column uk-padding center uk-margin-remove ">
            <content>
                <i class="far fa-gem fa-2x"></i>
                <h3>هدر</h3>
                <div class="space-half"></div>
                <p>توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج</p>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <button class="ServiceButton">سفارش</button>

            </content>
        </article>
        <article class="packageOffer column uk-padding center uk-margin-remove ">
            <content>
                <i class="far fa-gem fa-2x"></i>
                <h3>هدر</h3>
                <div class="space-half"></div>
                <p>توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج توضیحات پکیج</p>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <button class="ServiceButton">سفارش</button>

            </content>
        </article>
    </div>

</div>
<!--end region-->
<div class="space"></div>
<div class="AboutArvin">
    <div class="my-column my-clipped" dir="rtl">
        <content class="Services my-row uk-padding">
            <div class="my-column my-clipped" dir="rtl">
                <h2>درباره آروین تاو</h2>
                <p>
                    شرکت ایده پرداز آروین تاو با پشتوانه ی تخصص اعضا و تیم های اجرایی متخصص خود در حوزه فناوری اطلاعات، تجارت الکترونیکی، طراحی و توسعه وب سایت های اختصاصی و عملیاتی، برنامه نویسی و توسعه انواع نرم افزار های تحت وب و تحت ویندوز و تحت موبایل( اندروید و IOS) با بروز ترین تکنولوژی های روز دنیا و با هدف  الکترونیکی کردن کسب و کارها و یکپارچه سازی تمامی این فعالیت ها با تشکیل تیمهای قدرتمند و متخصص سعی بر این دارد زیر ساختهایی را بوجود آورد که مردم و کسب و کارها از مزیت های تکنولوژی و تجارت الکترونیکی به ساده ترین شکل ممکن بهره مند شوند و در هزینه های خود بطور چشمگیری صرفه جویی کنند شرکت ایده پرداز آروین تاو برای هر یک از خواسته های شما تیم های قدرتمندی متشکل از برنامه نویسان حرفه ای تدارک دیده است تا به تمامی اهداف شما جامه عمل بپوشاند و شما را در رسیدن به اهدافتان یاری نماید و همچنین با از بین بردن مرزهای جغرافیای دایره مشتریانتان را گسترش دهد درحالی که بطور قابل توجهی تا 80% از هزینه های اضافی شما را کاهش میدهد
                </p>
            </div>
            <img class="uk-margin-auto-top uk-margin-auto-bottom" src="~/img/Admin/logo/ArvinTavLogo.svg" />
        </content>
    </div>
</div>
<!--end region-->
<!--our team region-->
<!--end region-->


<div class="space"></div>
<div class="space"></div>
<div class="space"></div>


<script src="~/Scripts/UIkit/uikit.min.js"></script>
<script src="~/Scripts/UIkit/uikit-icons.min.js"></script>

