@model DataLayer.Spider
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<link href="~/Content/Styles/blog.min.css" rel="stylesheet" />
<div class="center cover uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" dir="rtl">
    <img src="~/img/Home/gridbackground.png" />
</div>

<div class="postContent">
    <div class="my-column my-clipped" dir="rtl">
        <content class="Content my-row uk-padding ">
            <div class="my-column my-clipped whiteBackground" dir="rtl">
                <content>
                    <div class="my-row Titr">
                        <h4 class="center">@Model.Title</h4>
                        <img class="uk-margin-auto-right uk-padding-small " src="~/Document/img/Spider/@Model.Image" width="300" height="300" />
                    </div>
                    <hr class="uk-divider-icon" />
                    <small>
                        دسته بندی :
                        <a href="/cat=@Model.SpiderCategory.ID">@Model.SpiderCategory.Title</a>
                    </small>
                    <p class="uk-padding-small">
                        @Html.Raw(Model.Description)
                    </p>
                    <div class="keyword my-row uk-padding-small uk-margin-auto-top">
                        <label>برچسب ها:</label>
                        @foreach (var item in Model.SeoTages)
                        {
                            <a href="/tage=@item.Tage">@item.Tage</a>@:,
                        }
                    </div>
                </content>
            </div>
        </content>
    </div>
</div>
