@model DataLayer.PackageService
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="productsSection allPageGreenBackground">
    <div class="cover uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200">
        <img src="~/img/Home/gridbackground.png" />
    </div>

    <!--description region-->
    <div class=" product center">
        <img src="~/Document/img/Package/@Model.Image" width="250" />
    </div>
    <div class="productcontent my-column" dir="rtl">
        <div class="uk-padding-small my-column my-clipped">
            <div class="my-row uk-padding-small">
                <label class=" uk-text-bold" for="security">امنیت</label>
                <progress class="uk-margin-right" id="security" value="1" max="5"> 1 </progress>
                <label class=" amount uk-text-bold uk-margin-right" for="security">1/5</label>
            </div>
            <div class="my-row uk-padding-small ">
                <label class=" uk-text-bold" for="speed">سرعت</label>
                <progress class="uk-margin-right" id="speed" value="2" max="5"> 2 </progress>
                <label class=" amount uk-text-bold uk-margin-right" for="security">2/5</label>
            </div>
            <div class="my-row uk-padding-small">
                <label class=" uk-text-bold" for="seeming">زیبایی</label>
                <progress class="uk-margin-right" id="seeming" value="4" max="5"> 4 </progress>
                <label class="amount uk-text-bold uk-margin-right" for="security">4/5</label>
            </div>
            <ul class="my-column uk-padding-remove" dir="rtl">
                @foreach (var item in Model.PackageServiceDetails)
                {
                    <li> <i class="fas fa-check uk-text-success"></i>@item.Title</li>
                }
            </ul>
            <div class="Price uk-margin-auto-right" dir="rtl">
                <label id="PriceSpan" class="uk-margin-small-left uk-text-bold">@Model.Price تومان</label>
                <button class="ServiceButton">سفارش</button>
            </div>
        </div>

    </div>


    <div class="descriptionOfProduct mat" dir="rtl">
        <h4>درباره پکیج</h4>
        <img src="~/img/products/about.png" />
        <p>
            @Html.Raw(Model.Description)
        </p>
    </div>

</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="/Tools/Span_Formatting_Currency.js"></script>


