
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="productSection">

    <div class="my-column my-clipped" dir="rtl">
        <content class="Services my-row uk-padding">
            <div class="my-column my-clipped" dir="rtl">
                <h2>Linux 102</h2>
                <img class="center MobileSize " src="~/img/Home/Host/linuxhosting.png" />
                <p> خدمات طراحی و توسعه وب سایت های کاربردی و عملیاتی و طراحی پورتال، برنامه نویسی و توسعه انواع نرم افزارهای کاربردی تحت وب، با توجه به نیازها، نوع فعالیت و متناسب با بودجه در نظر گرفته شده توسط مشتری صورت می پذیرد. در بعضی از موارد يک وب سايت زيبا به تنهايي کارساز نيست و برای موفقيت در تجارت بايد بتوانيد ارتباط قوي تری با بازديدکنندگان خود داشته باشيد و یا اینکه عملیاتی را نیاز دارید که میتواند به ارائه هرچه بهتر خدمات شما کمک کند. </p>
            </div>
            <img class="DesktopSize" src="~/img/Home/Host/linuxhosting.png" />
        </content>
    </div>

    <div class="attrTitle" dir="rtl"> <img src="~/img/Home/Host/Web-Hosting.png" />مشخصات هاست </div>
    <div class="hostProperty my-column my-clipped" dir="rtl">
        <div class="my-row">
            <i class="far fa-chart-bar uk-text-primary uk-margin-small-left"></i>
            <label>ترافیک ماهانه:</label>
            <span></span>
        </div>
        <div class="my-row">
            <i class="fas fa-server uk-text-primary uk-margin-small-left"></i>
            <label>فضا:</label>
            <span></span>
        </div>
        <div class="my-row ">
            <i class="fas fa-sitemap uk-text-primary uk-margin-small-left"></i>
            <label>تعداد سایت قابل میزبانی:</label>
            <span></span>
        </div>
        <div class="my-row">
            <i class="fas fa-check-square uk-text-success uk-margin-small-left"></i>
            <label>SSL رایگان</label>
        </div>
        <div class="my-row">
            <i class="fas fa-check-square uk-text-success uk-margin-small-left"></i>
            <label>پشتیبانی 24 ساعته</label>
        </div>

    </div>
    <div class="my-row period uk-margin-large-top" dir="rtl">
        <content class="my-row ">
            <select id="periodOfservice" dir="rtl">
                <option value="3">3 ماهه </option>
                <option value="6">6 ماهه </option>
                <option value="9">سالانه</option>
            </select>
            <div class="price uk-margin-right my-row ">
                <label>452000</label>
                <span>تومان</span>
            </div>
        </content>
        <button class="ServiceButton ">ثبت و ادامه</button>
    </div>
    <div class="space"></div>
    <div class="attrTitle" dir="rtl"> <img src="~/img/Home/Host/hardware.png" />جزئیات سخت افزاری </div>
    <div class="detailTtable">
        <table class="uk-table  uk-table-striped" dir="rtl">
            <tbody dir="rtl">
                <tr>
                    <td>متن1</td>
                    <td>پاسخ 1</td>
                </tr>
                <tr>
                    <td>متن2</td>
                    <td>پاسخ 2</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="attrTitle" dir="rtl"> <img src="~/img/Home/Host/software.png" />جزئیات نرم افزاری </div>
    <div class="detailTtable">
        <table class="uk-table  uk-table-striped" dir="rtl">
            <tbody dir="rtl">
                <tr>
                    <td>متن1</td>
                    <td>پاسخ 1</td>
                </tr>
                <tr>
                    <td>متن2</td>
                    <td>پاسخ 2</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="attrTitle" dir="rtl"> <img src="~/img/Home/Host/plus.png" />جزئیات بیشتر </div>
    <div class="detailTtable">
        <table class="uk-table  uk-table-striped" dir="rtl">
            <tbody dir="rtl">
                <tr>
                    <td>متن1</td>
                    <td>پاسخ 1</td>
                </tr>
                <tr>
                    <td>متن2</td>
                    <td>پاسخ 2</td>
                </tr>
            </tbody>
        </table>
    </div>

    @*software package region*@

    <div class="softwarePackage my-column my-clipped" dir="rtl">
        <content class="Services my-row uk-padding">
            <div class="my-column my-clipped" dir="rtl">
                <h2>بسته های نرم افزاری</h2>
                <img class="center MobileSize " src="~/img/Home/Host/softwarePackage.jpg" />
                <p> خدمات طراحی و توسعه وب سایت های کاربردی و عملیاتی و طراحی پورتال، برنامه نویسی و توسعه انواع نرم افزارهای کاربردی تحت وب، با توجه به نیازها، نوع فعالیت و متناسب با بودجه در نظر گرفته شده توسط مشتری صورت می پذیرد. در بعضی از موارد يک وب سايت زيبا به تنهايي کارساز نيست و برای موفقيت در تجارت بايد بتوانيد ارتباط قوي تری با بازديدکنندگان خود داشته باشيد و یا اینکه عملیاتی را نیاز دارید که میتواند به ارائه هرچه بهتر خدمات شما کمک کند. </p>
            </div>
            <img class="DesktopSize" src="~/img/Home/Host/softwarePackage.jpg" />
        </content>
        <div class="my-row uk-margin-auto-right">
            <div class="price uk-margin-right my-row ">
                <label>452000</label>
                <span>تومان</span>
            </div>
            <button class="ServiceButton ">ثبت و ادامه</button>
        </div>
    </div>

</div>
