
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!--grid(host) region-->
<div class="productsSection">

    <div class="uk-margin-auto-right uk-margin-auto-left uk-margin-auto-top uk-margin-auto-bottom cover uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200">
        <img class="uk-margin-auto uk-margin-top center" src="~/img/Home/Host/linuxhosting.png" />
    </div>
    <div class="GridBackground">
        <content class="grid " dir="rtl">
            <article class="my-column mat uk-padding my-clipped ">
                <content>
                    <div class="center"><i class="fab fa-linux fa-4x uk-text-primary"></i></div>
                    <h4 class="center">Linux 102</h4>
                    <ul class="my-column uk-padding-remove" dir="rtl">
                        <li> <i class="fas fa-check uk-text-success"></i>ا گیگا بایت حجم</li>
                        <li><i class="fas fa-check uk-text-success"></i>70 گیگ ترافیک </li>
                        <li><i class="fas fa-check uk-text-success"></i>پشتیبانی رایگان</li>
                        <li><i class="fas fa-check uk-text-success"></i>دیتا سنتر پارس آنلاین</li>
                        @*<li class="uk-margin-top"><a href="/product"><i class="fas fa-info-circle uk-text-primary"></i>جزئیات محصول</a></li>*@
                    </ul>
                    <button class="ServiceButton" onclick="window.location.href='/Product'">جزئیات و سفارش</button>
                </content>
            </article>
            <article class="my-column mat uk-padding my-clipped ">
                <content>
                    <div class="center"><i class="fab fa-linux fa-4x uk-text-primary"></i></div>
                    <h4 class="center">Linux 102</h4>
                    <ul class="my-column uk-padding-remove" dir="rtl">
                        <li> <i class="fas fa-check uk-text-success"></i>ا گیگا بایت حجم</li>
                        <li><i class="fas fa-check uk-text-success"></i>70 گیگ ترافیک </li>
                        <li><i class="fas fa-check uk-text-success"></i>پشتیبانی رایگان</li>
                        <li><i class="fas fa-check uk-text-success"></i>دیتا سنتر پارس آنلاین</li>
                       @* <li class="uk-margin-top"><a href="/product"><i class="fas fa-info-circle uk-text-primary"></i>جزئیات محصول</a></li>*@
                    </ul>
                    <button class="ServiceButton" onclick="window.location.href='/Product'">جزئیات و سفارش</button>
                </content>
            </article>
            <article class="my-column mat uk-padding my-clipped ">
                <content>
                    <div class="center"><i class="fab fa-linux fa-4x uk-text-primary"></i></div>
                    <h4 class="center">Linux 102</h4>
                    <ul class="my-column uk-padding-remove" dir="rtl">
                        <li> <i class="fas fa-check uk-text-success"></i>ا گیگا بایت حجم</li>
                        <li><i class="fas fa-check uk-text-success"></i>70 گیگ ترافیک </li>
                        <li><i class="fas fa-check uk-text-success"></i>پشتیبانی رایگان</li>
                        <li><i class="fas fa-check uk-text-success"></i>دیتا سنتر پارس آنلاین</li>
                      @*  <li class="uk-margin-top"><a href="/product"><i class="fas fa-info-circle uk-text-primary"></i>جزئیات محصول</a></li>*@
                    </ul>
                    <button class="ServiceButton" onclick="window.location.href='/Product'">جزئیات و سفارش</button>
                </content>
            </article>
            <article class="my-column mat uk-padding my-clipped ">
                <content>
                    <div class="center"><i class="fab fa-linux fa-4x uk-text-primary"></i></div>
                    <h4 class="center">Linux 102</h4>
                    <ul class="my-column uk-padding-remove" dir="rtl">
                        <li> <i class="fas fa-check uk-text-success"></i>ا گیگا بایت حجم</li>
                        <li><i class="fas fa-check uk-text-success"></i>70 گیگ ترافیک </li>
                        <li><i class="fas fa-check uk-text-success"></i>پشتیبانی رایگان</li>
                        <li><i class="fas fa-check uk-text-success"></i>دیتا سنتر پارس آنلاین</li>
                       @* <li class="uk-margin-top"><a href="/product"><i class="fas fa-info-circle uk-text-primary"></i>جزئیات محصول</a></li>*@
                    </ul>
                    <button class="ServiceButton" onclick="window.location.href='/Product'">جزئیات و سفارش</button>
                </content>
            </article>
            <article class="my-column mat uk-padding my-clipped ">
                <content>
                    <div class="center"><i class="fab fa-linux fa-4x uk-text-primary"></i></div>
                    <h4 class="center">Linux 102</h4>
                    <ul class="my-column uk-padding-remove" dir="rtl">
                        <li> <i class="fas fa-check uk-text-success"></i>ا گیگا بایت حجم</li>
                        <li><i class="fas fa-check uk-text-success"></i>70 گیگ ترافیک </li>
                        <li><i class="fas fa-check uk-text-success"></i>پشتیبانی رایگان</li>
                        <li><i class="fas fa-check uk-text-success"></i>دیتا سنتر پارس آنلاین</li>
                        @*<li class="uk-margin-top"><a href="/product"><i class="fas fa-info-circle uk-text-primary"></i>جزئیات محصول</a></li>*@
                    </ul>
                    <button class="ServiceButton" onclick="window.location.href='/Product'">جزئیات و سفارش</button>
                </content>
            </article>
            <article class="my-column mat uk-padding my-clipped ">
                <content>
                    <div class="center"><i class="fab fa-linux fa-4x uk-text-primary"></i></div>
                    <h4 class="center">Linux 102</h4>
                    <ul class="my-column uk-padding-remove" dir="rtl">
                        <li> <i class="fas fa-check uk-text-success"></i>ا گیگا بایت حجم</li>
                        <li><i class="fas fa-check uk-text-success"></i>70 گیگ ترافیک </li>
                        <li><i class="fas fa-check uk-text-success"></i>پشتیبانی رایگان</li>
                        <li><i class="fas fa-check uk-text-success"></i>دیتا سنتر پارس آنلاین</li>
                       @* <li class="uk-margin-top"><a href="/product"><i class="fas fa-info-circle uk-text-primary"></i>جزئیات محصول</a></li>*@
                    </ul>
                    <button class="ServiceButton" onclick="window.location.href='/Product'">جزئیات و سفارش</button>
                </content>
            </article>
            <article class="my-column mat uk-padding my-clipped ">
                <content>
                    <div class="center"><i class="fab fa-linux fa-4x uk-text-primary"></i></div>
                    <h4 class="center">Linux 103</h4>
                    <ul class="my-column uk-padding-remove" dir="rtl">
                        <li> <i class="fas fa-check uk-text-success"></i>ا گیگا بایت حجم</li>
                        <li><i class="fas fa-check uk-text-success"></i>70 گیگ ترافیک </li>
                        <li><i class="fas fa-check uk-text-success"></i>پشتیبانی رایگان</li>
                        <li><i class="fas fa-check uk-text-success"></i>دیتا سنتر پارس آنلاین</li>
                       @* <li class="uk-margin-top"><a href="/product"><i class="fas fa-info-circle uk-text-primary"></i>جزئیات محصول</a></li>*@
                    </ul>
                    <button class="ServiceButton" onclick="window.location.href='/Product'">جزئیات و سفارش</button>
                </content>
            </article>
            <article class="my-column mat uk-padding my-clipped ">
                <content>
                    <div class="center"><i class="fab fa-linux fa-4x uk-text-primary"></i></div>
                    <h4 class="center">Linux 100</h4>
                    <ul class="my-column uk-padding-remove" dir="rtl">
                        <li> <i class="fas fa-check uk-text-success"></i>ا گیگا بایت حجم</li>
                        <li><i class="fas fa-check uk-text-success"></i>70 گیگ ترافیک </li>
                        <li><i class="fas fa-check uk-text-success"></i>پشتیبانی رایگان</li>
                        <li><i class="fas fa-check uk-text-success"></i>دیتا سنتر پارس آنلاین</li>
                       @* <li class="uk-margin-top"><a href="/product"><i class="fas fa-info-circle uk-text-primary"></i>جزئیات محصول</a></li>*@
                    </ul>
                    <button class="ServiceButton" onclick="window.location.href='/Product'">جزئیات و سفارش</button>
                </content>
            </article>
        </content>

    </div>
</div>
<!--end region -->
