
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="productsSection allPageGreenBackground">
    <div class="cover uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200">
        <img src="~/img/Home/gridbackground.png" />
    </div>

    <!--description region-->
    <div class=" product center">
        <img src="~/img/products/wordpress.png" />
    </div>
    <div class="productcontent my-column" dir="rtl">
        <div class="uk-padding-small my-column my-clipped">
            <div class="my-row uk-padding-small">
                <label class=" uk-text-bold" for="security">امنیت</label>
                <progress class="uk-margin-right" id="security" value="1" max="5"> 1 </progress>
                <label class=" amount uk-text-bold uk-margin-right" for="security">1/5</label>
            </div>
            <div class="my-row uk-padding-small ">
                <label class=" uk-text-bold" for="speed">سرعت</label>
                <progress class="uk-margin-right" id="speed" value="2" max="5"> 2 </progress>
                <label class=" amount uk-text-bold uk-margin-right" for="security">2/5</label>
            </div>
            <div class="my-row uk-padding-small">
                <label class=" uk-text-bold" for="seeming">زیبایی</label>
                <progress class="uk-margin-right" id="seeming" value="4" max="5"> 4 </progress>
                <label class="amount uk-text-bold uk-margin-right" for="security">4/5</label>
            </div>
            <ul class="my-column uk-padding-remove" dir="rtl">
                <li> <i class="fas fa-check uk-text-success"></i>قالب اختصاصی</li>
                <li><i class="fas fa-check uk-text-success"></i>SEO فنی وبسایت </li>
                <li><i class="fas fa-check uk-text-success"></i>پشتیبانی آنلاین و آفلاین</li>
                <li> <i class="fas fa-check uk-text-success"></i>قالب اختصاصی</li>
                <li><i class="fas fa-check uk-text-success"></i>SEO فنی وبسایت </li>
                <li><i class="fas fa-check uk-text-success"></i>پشتیبانی آنلاین و آفلاین</li>
            </ul>
            <button class="ServiceButton center">سفارش</button>
        </div>

    </div>


    <div class="descriptionOfProduct mat" dir="rtl">
            <h4>درباره پکیج</h4>
            <img src="~/img/products/about.png" />
            <p>
                کی از روش‌های ایجاد درآمد مستقیم از اینترنت، راه اندازی سایت‌های فروشگاهی می‌باشد. فروشگاه های اینترنتی که امروزه در ایران در حال فعالیت هستند، جزء پردرآمدترین کسب و کار های اینترنتی کشور بوده و از همین رو بسیاری علاقه‌مند به راه اندازی یک فروشگاه اینترنتی هستند. شرکت ایده پرداز آروین تاو در این قسمت از خدمات خود قصد دارد با راه اندازی
            </p>
        </div>

    </div>


