
@{
    ViewBag.Title = "گزارش پرداخت";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}




<div class="loginSection center">
    <content class="grid successNotification" dir="rtl">
        <div class="my-column my-clipped center uk-margin-xlarge-top mat">

            @if (ViewBag.RefID != null)
            {
                @:    کد پیگیری زرین پال
                @ViewBag.RefID
            }
            <br />

            @if (ViewBag.OrderID != null)
            {
                @:    کد سفارش
                @ViewBag.OrderID
            }

            @if (ViewBag.Erorr != null)
            {
                @:    خطا
                @ViewBag.Erorr
            }

        </div>
    </content>
</div>
