
<div class="modal-header">
    <h6 class="modal-title mr-3" id="modalCenterTitle">
        جزئیات سفارش
    </h6>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div id="card-table" class="card-body flex-div">
            <div class="form-row ">
                <div class="form-group col-md-4">
                    <label>کد سفارش:</label>
                    <span>486546</span>
                </div>
                <div class="form-group col-md-4">
                    <label>نام مشتری:</label>
                    <span>اصغر فرهادی</span>
                </div>
                <div class="form-group col-md-4">
                    <label>شماره مشتری:</label>
                    <span>09148795165</span>
                </div>
                <div class="form-group col-md-4">
                    <label>زمان:</label>
                    <span>زمان سفارش</span>
                </div>
                <div class="form-group col-md-4">
                    <label>وضعیت:</label>
                    <span class="text-primary">پرداخت شده</span>
                </div>
            </div>
            <div class="form-control" rows="4">توضیحات اضافی</div>
            &nbsp;
            <div class="table-responsive flex">
                <table class="table fixed">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">نوع سفارش</th>
                            <th scope="col">قیمت</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                هاست لینوکس
                            </td>
                            <td>
                                20000
                            </td>
                        </tr>
                        <tr>
                            <td>
                                دامنه
                            </td>
                            <td>
                                10000
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-row ml-xl-4 ml-4 ">
            
                <label class="uk-text-bold">قیمت کل:</label>
                <span class="text-success uk-text-bold">30000</span>
            
         </div>
        </div>
</form>


