<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        افزودن مشتری
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control form-control-sm" id="Title" placeholder="متن مشتری">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control form-control-sm" id="PhoneNumber" placeholder="شماره تلفن">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="custom-file">
                    <input type="file" class="custom-file-input form-control form-control-sm" id="Logo" accept="image/jpg,image/png">
                    <label class="custom-file-label" for="Logo" data-browse="انتخاب" id="FileName">انتخاب فایل</label>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer justify-content-end">
        <img src="~/img/gif/load.gif" class="loding justify-content-center d-none" />
        <a id="BtnCustomerCreate" class="btn btn-success btn-sm text-white"><i class="fas fa-plus-circle"></i>افزودن</a>
    </div>
</form>


<script src="~/Areas/Admin/CommandJs/Customers.js"></script>

