@model DataLayer.RevenuesViewModel
<div class="modal-header">
    <h6 class="modal-title mr-3" id="modalCenterTitle">
       درآمدها
    </h6>
</div>
<form>
    <div class="modal-body">
        <div id="card-table" class="card-body flex-div">
            <div class="form-row ">
                <div class="form-group col-md-4">
                    <label>جمع پرداخت شده ها:</label>
                    <span>@Model.AllPaidPrice</span>
                </div>
                <div class="form-group col-md-4">
                    <label>جمع لغو شده ها:</label>
                    <span>@Model.AllCancelledPrice</span>
                </div>
                <div class="form-group col-md-4">
                    <label>تعداد سفارشات:</label>
                    <span>@Model.OrderCount</span>
                </div>
            </div>
        </div>
    </div>
</form>

