@model DataLayer.Spider
<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">حذف از لیست</h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="space"></div>

<h6 class="center">آیا میخواهید مطلب @Model.Title حذف شود؟</h6>
<div class="space"></div>
<div class="modal-footer justify-content-end">
    <img src="~/img/gif/load.gif" class="loding justify-content-center d-none" />
    <button onclick="RemoveSpider(@Model.ID)" type="button" class="btn btn-sm btn-success">
        بله
    </button>
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close">خیر</button>
</div>

<script>
    function RemoveSpider(ID) {
        $(".loding").removeClass('d-none');
        $.get("/Admin/Management/SpiderRemove?ID=" + ID, function (result) {
            if (result == "true") {
                $.get("/Admin/Management/P_Spider", function (result) {
                    $(".Panel").removeClass("bg-info");
                    $(".Panel").removeClass("text-white");
                    $("#SpiderPaper").addClass("bg-info");
                    $("#SpiderPaper").addClass("text-white");
                    $("#card-table").html(result);
                    $("#modalSave").css('display', 'none');
                    $("#modalSave").removeClass('show');
                    document.querySelectorAll('.modal-backdrop')[0].parentElement.removeChild(document.querySelectorAll('.modal-backdrop')[0]);
                });
            } else {
                alert(result);
            }
        });
    }
</script>



