
<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        ویرایش پشتیبانی
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control form-control-sm" id="Title" placeholder="متن">
            </div>
            <div class="form-group col-md-6">
                <label for="IsActive">فعال باشد</label>
                <input type="checkbox" id="IsActive" />
            </div>
        </div>

    </div>
    <div class="modal-footer justify-content-end">
        <a class="btn btn-success btn-sm text-white"><i class="fas fa-edit"></i>ویرایش</a>
    </div>
</form>