<div class="modal-header">
    <h6 class="modal-title mr-3" id="modalCenterTitle">
        تیکت ها
    </h6>
</div>
<form>
    <div class="modal-body">
        <div id="card-table" class="card-body flex-div">
            <div class="form-row ">
                <div class="form-group col-md-4">
                    <label>تیکت های باز نشده:</label>
                    <span></span>
                </div>
                <div class="form-group col-md-4">
                    <label>تیکت های در حال بررسی:</label>
                    <span></span>
                </div>
                <div class="form-group col-md-4">
                    <label>تیکت های تکمیل شده:</label>
                    <span></span>
                </div>

            </div>
        </div>
    </div>
</form>
