@model IEnumerable<DataLayer.Discount>
<div id="card-table" class="card-body flex-div">
    <div class="table-responsive flex">
        <table class="table fixed">
            <thead class="thead-light">
                <tr>
                    <th scope="col">عنوان</th>
                    <th scope="col">عملیات</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Code</td>
                        <td>
                            <span data-placement="top" data-toggle="tooltip" title="" data-original-title="ویرایش">
                                <a onclick="EditList(@item.ID)" data-toggle="modal" data-target="#modalSave"><i class="btn fas fa-edit mr-2 text-primary"></i></a>
                            </span>
                            <span data-placement="top" data-toggle="tooltip" title="" data-original-title="حذف">
                                <a onclick="DelList(@item.ID)" data-toggle="modal" data-target="#modalSave"><i class="btn fas fa-trash mr-2 text-danger"></i></a>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

