@import '_colors.scss';
@import '_controls.scss';
@import '_global.scss';
@import '_layout.scss';

/*.modal-footer {
    @include center();

    #Image {
        height: 60px !important;
        width: 60px !important;
        padding: 10px;
    }

 

    a:hover img {*/
        /*filter: blur(1px) brightness(80%);*/
        /*@include icon-glow();
    }
}*/
/*.modal-body {
    input.form-control {
        width:38vw !important;
    }
}*/
/*.btn-success {
    color: #fff;
    background-color: #60cc4a !important;
    border-color: #60cc4a !important;*/
    /* margin-bottom: 16px !important;*/
/*}*/