@import '_colors.scss';
@import '_global.scss';
@import '_layout.scss';

/*#header-region */
@font-face {
    font-family: "Sahel";
    src: url('/fonts/fontsite/Sahel.woff');
    src: url('/fonts/fontsite/Sahel.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}
*{
    outline:none;
    font-family:Sahel;
    
}
#LayoutHeader {
    position: fixed !important;
    height: 70px;
    z-index: 1000;
    padding-top: 0px !important;
    // margin-top: -14px;
    margin-bottom: 14px;
    //margin-right: 40px;
    //padding-right: 50px !important;
    overflow: visible !important;

    .HomePage {
        color: #48A839 !important;
        border-bottom: 2px solid #2a2929;
        padding-bottom: 0 !important;
        margin-bottom: 8px !important;
        border-radius: 2px;
        margin-right: 70px !important;
    }

    .uk-navbar-nav {

        a {
            color: #2a2929;
            font-family: Sahel !important;
        }

        a:hover {
            color: #80c378;
        }
    }

    .uk-navbar-right {
        float: right;
    }

    .navBar {
        float: right;
        width: 100vw;
        padding-right: 32px;
    }

    .menuComponent {
        /* padding: 8px !important;*/
        margin-right: 20px;
        overflow: hidden !important;
    }

    .loginDesktop {
        *{
            overflow:hidden;
        }
        img {
            width: 74px !important;
        }

        position: absolute;
        left: 10px;
        top: 8px;

        button {
            //   padding: 0px;
            width: 140px;
            margin-top: 10px;
            margin-left: 12px;
            color: #4d4d4d;
            border: 1px solid #5cb152;
            border-radius: 20px !important;
            height: 34px;
        }


        button:hover {
            background: #80c378;
            border: none;
            color: white;
        }
    }

    * {
        background: transparent;
    }

    background: transparent;

    .navBar {
        font-size: 18px !important;
    }
}
.uk-dropdown {
    background: white !important;

    a {
        color: #2a2929 !important;
       
    }
}
.uk-offcanvas-bar {
    display: none;
    width:310px
}
    /*#region This will be toggled on scroll */
    .layout-header-scrolled {
        background: #ffffff !important;
        height: 70px;
        overflow: hidden !important;


        a {
            color: #2a2929 !important;
        }

        a:hover {
            color: #48A839 !important;
        }

        .HomePage {
            border-bottom: 2px solid #2a2929 !important;
        }
    }
    /*#endregion */
    /*#mobile header-region */
@media only screen and (max-device-width : 1020px) {
    #LayoutHeader {
        .navBar {
            display: none;
        }
    }

    .loginDesktop {
        display: none;
    }

    .loginMobile {
        button {
            //   padding: 0px;
            width: 140px;
            margin-top: 14px;
            margin-left: 18px;
            margin-right: 18px;
            color: #4d4d4d;
            border: 1px solid #5cb152;
            border-radius: 20px !important;
            height: 34px;
        }


        button:hover {
            background: #80c378;
            border: none;
            color: white;
        }
    }

    .LogoPicMobile {
        width: 60px !important;
        height: 60px !important;
        margin-left: auto !important;
        margin-right: 22px;
    }

    .hamburger-button {
        display: flex !important;
    }

    #menu {
        display: block;

        .mainMenu {
            // background:red;
            list-style-type: none !important;
            padding: 10px;
        }

        .uk-nav-header {
            color: #66AEF5 !important;
        }

        li {
            color: #555;
            padding: 10px;
            border-bottom: 1px solid #a9a9a9;
            margin-right: 10px;
            margin-top: 10px;

            a {
                font-size: 14px !important;
                color: #4d4d4d;
            }

            a:hover {
                color: #808080 !important;
            }
        }

        .search {
            input {
                width: 200px !important;
            }
        }
    }

    .uk-offcanvas-bar {
        display: block;
        background: #ffffff !important;
    }

    .uk-dropdown {
      width:250px !important;
      li{
          border-bottom:none!important;
          padding:2px!important;
      }
    }

    .layout-header-scrolled {
        overflow: hidden !important;
    }
}

@media only screen and (max-width :1020px) {
    #LayoutHeader {
        .navBar {
            display: none;
        }

        .loginDesktop {
            display: none;
        }
    }

    .LogoPic {
        width: 50px;
        height: 40px;
    }

    .loginMobile {
        button {
            //   padding: 0px;
            width: 140px;
            margin-top: 14px;
            margin-left: 18px;
            margin-right: 18px;
            color: #4d4d4d;
            border: 1px solid #5cb152;
            border-radius: 20px !important;
            height: 34px;
        }


        button:hover {
            background: #80c378;
            border: none;
            color: white;
        }
    }

    .hamburger-button {
        display: flex !important;
    }

    #menu {
        display: block;

        ul {
            // background:red;
            list-style-type: none !important;
            padding: 10px;
        }

        li {
            color: #555 !important;
            padding: 10px;
            border-bottom: 1px solid #a9a9a9;
            margin-right: 10px;
            margin-top: 10px;

            a {
                font-size: 14px !important;
                color: #4d4d4d;
            }

            a:hover {
                color: #808080 !important;
            }
        }
    }

    .uk-offcanvas-bar {
        display: block;
        background: #ffffff !important;
    }
    .uk-dropdown {
        width: 250px !important;

        li {
            border-bottom: none !important;
            padding: 2px !important;
        }
    }
    .layout-header-scrolled {
        background: transparent !important;
        height: 70px;
        opacity: 0.8;
        overflow: hidden !important;
    }
}


    .hamburger-button {
        display: none;
        position: fixed;
        padding: 10px !important;
        right: 18px;
        top: 18px;
        color: #2a2929;
        margin: auto;
    }
    /*#endregion */
    /*#endregion */
    /*#footer-region */
footer {
    * {
        overflow: hidden;
    }

    background-image: url('../../img/Home/footer-background-011.jpg');
    padding: 20px;
    background-size: cover;

    .footerContent {
        display: flex;
        // padding-right: 50px !important;
        .LogoFooter {
            flex: 1;
            background: white;
        }

        .SupportFooter {
            flex: 1;
        }

        .LogoFooter {
            padding: 0 60px;

            img {
                padding: 30px 30px 0 30px;
            }

            label {
                padding: 0;
            }
        }
    }

    .footerEnd {
        display: flex;

        .Address {
            flex: 1;

            img {
                width: 22px;
                height: 22px;
            }

            label {
                color: white !important;
                font-size: 14px;
                margin-right: 8px;
            }
        }

        .footerContact {
            flex: 1;
        }


        .contactIcon {
            color: #a9a9a9;
            opacity: 0.5;
        }
    }

    div {
        div {
            label {
                color: white !important;
                padding: 5px;
            }
        }
    }

    h6 {
        color: #5cb152;
        font-size: 18px;
        font-weight: 400;
    }

    a {
        color: white;
        padding: 2px;
    }

    a:hover {
        text-decoration: none;
        /*font-size: larger;*/
        color: #808080;
    }

    hr {
        border: 1px solid #a9a9a9;
        opacity: 0.1;
        border-radius: 5px;
    }
}
    /*#end footer region */
/*mobile footer style*/
@media only screen and (max-device-width : 780px) {
    footer {
        background-image: none !important;
        background-color: #333F4D !important;

        .footerContent {
            @include column();
            @include center();

            .LogoFooter {
                width: 100%;
                padding: 0;

                img {
                    padding: 10px 80px 3px 80px;
                }

                label {
                    padding: 0 0 8px 0;
                    font-size: 12px;
                }
            }
        }
    }
}

@media only screen and (max-device-width : 780px) {
    footer {
        .footerEnd {
            @include column();
            @include center();

            .Address {
                margin: auto !important;
            }

            .footerContact {
                margin: auto !important;
            }
        }
    }
}

@media only screen and (max-width : 780px) {
    footer {
        background-image: none !important;
        background-color: #333F4D !important;

        .footerContent {
            @include column();
            @include center();

            .LogoFooter {
                width: 100%;
                padding: 0;

                img {
                    padding: 10px 80px 3px 80px;
                }

                label {
                    padding: 0 0 8px 0;
                    font-size: 12px;
                }
            }
        }
    }
}

/*#end mobile footer region */
    /*#button-style-region */
.ServiceButton {
    width: 80px;
    padding: 4px;
    background: #5cb152;
    color: white;
    font-size: 14px;
    border: 1px solid #5cb152;
    border-radius: 12px;
    cursor: pointer;
    text-align:center;
}

.ServiceButton:hover {
    //opacity: 0.9;
    background: transparent;
    border:1px solid #5cb152;
    color:#2a2929 !important;
    text-decoration:none !important;

}
    /*#grid-background-style-region */
.GridBackground {
    background-image: url('../../img/Home/gridbackground.png');
    // background: #e9fbe8;
    padding: 50px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
    .overflow-visible {
        overflow: visible !important;

        * {
            overflow: visible !important;
        }
    }
.GreenBackground {
    background-image: url('../../img/Home/gridbackground.png');
    // background: #e9fbe8;
    padding: 50px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
.allPageGreenBackground {
    background-image: url('../../img/products/greenBackground.png');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -70px;
}

.search {
    input {
        width: 180px;
        margin-top: 10px;
        margin-left: 12px;
        color: #4d4d4d;
        border: 1px solid #5cb152;
        border-radius: 20px !important;
        height: 34px;
        background-image: url('../../img/Home/search.png');
    }

    .inputContainer i {
        position: absolute;
    }

    .inputContainer {
        width: 100%;
        margin-bottom: 10px;
    }

    .icon {
        padding: 20px 0 2px 0;
        margin-right: -50px;
        color: #808080;
        width: 20px;
        text-align: left;
    }
}