@import '_layout.scss';
@import '_colors.scss';
@import '_global.scss';

.contactSection {
    .mat {
        width: 303px;
        padding:10px;
    }

    .contactAddress {
        * {
            overflow: hidden;
        }
    }
}
.GreenBackground {
    padding: 50px 0px!important;
}
   h4 {
        @include center();
        text-align: center;
        color: #5cb152;
        font-family: Sahel;
        overflow: hidden;
    }
.aboutUs {
    padding: 40px;
    background: white !important;
    margin-top: 70px;

    img {
        position: absolute;
        margin-right: auto;
        margin-left: auto;
        @include center();
        width: 80px;
        height: 60px;
        opacity: 0.8;
        margin-top: -44px;
    }
    p {
        color: black;
        overflow: hidden;
        text-align: justify;
        -ms-text-justify: kashida;
        text-justify: kashida;
    }
}
.contactForm {
    input {
        background: #dcdbdb;
        border: none;
        padding: 10px 52px;
        margin: 12px 0;
    }

    #textareaInContact {
        margin-top: 9px;
        overflow: visible !important;
        height: 101px !important;
        resize: none;
        width: 87% !important;
        margin-bottom: 12px;
    }

    label {
        font-size: 14px;
    }

    .ServiceButton {
        width: 80px;
        padding: 4px;
        background: #5cb152;
        color: white;
        font-size: 14px;
        border: 1px solid #5cb152;
        border-radius: 12px;
        cursor: pointer;
        text-align: center;
    }

    .ServiceButton:hover {
        //opacity: 0.9;
        background: transparent;
        border: 1px solid #5cb152;
        color: #2a2929 !important;
        text-decoration: none !important;
    }
}
.socialContact {
    display: flex;
    div {
        flex: 2;

        a {
            margin-top: 10px;
            margin-right: 12px;
        }

        a:hover {
            text-decoration: none;
        }
    }

    img {
        
    }
}
@media only screen and (max-device-width: 700px) {
    .socialContact {
        img {
            display:none;
        }
    }
    .contactUsIcon{
        width:25px;
        height:25px;
    }

    .map {
        height: 240px!important;
    }

    }
.map {
    width: 100%;
    margin: auto !important;
    height: 400px;
}

