@import '_layout.scss';
@import '_colors.scss';
@import '_global.scss';

body {
    padding: 0;
    margin: 0;
    font-family: Sahel;
    /*text-align: right;*/
}
/** {
    font-family: 'B Zar' !important;
}
*/
* {
    overflow-x: hidden;
    
}

.IndexPage {
    * {
        overflow: hidden;
    }

    .headSlider {
        // height: 600px !important;
        overflow-y: hidden !important;

        img {
            width: 400px !important;
            margin:90px 100px 0 0 !important;
        }

        .coverContent {
            padding: 160px 0 0 100px !important;
            font-family: Sahel !important;
        }

        p {
            width: 400px;
            text-align: justify;
            -ms-text-justify: kashida;
            text-justify: kashida;
            color: #555;
            overflow: hidden;
        }

        h3 {
            color: #555;
            overflow: hidden;
            font-family: Sahel !important;
        }

        .ServiceButton {
            background: transparent !important;
            border: 1px solid #5cb152;
            width: 15vw;
            border-radius: 20px;
            color: #555;
            padding: 8px !important;
        }

        .ServiceButton:hover {
            border-color: transparent !important;
        }

        .uk-slidenav-container {
            margin-top: -30px;
            background: #b1b0b0;
            opacity: 0.7;
            border-radius: 5px;
            width: 10px;
        }
    }

    .endOfCover {
        background-image: url('../../img/Home/footerRibbon.png') !important;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100% !important;
        height: 220px;
        margin-top: -240px !important;
    }

    @media only screen and (max-device-width: 800px) {
        .headSlider {
            height: 540px !important;

            img {
                padding: 20px 20px 0 0 !important;
                margin: auto !important;
                width: 180px !important;
                height: 180px !important;
            }

            .coverContent {
                padding: 0 !important;
                margin-top: 26px !important;
                overflow: hidden;
            }

            p {
                width: 140px !important;
                font-size: 10px !important;
                padding: 10px;
                margin: 0;
            }

            h3 {
                font-size: 12px !important;
                margin: 0;
            }

            .ServiceButton {
                width: 60px !important;
                padding: 1px;
                font-size: 12px;
                margin-top: -40px !important;
                // border-radius:10px;
            }

            .uk-slidenav-container {
                margin-top: -80px;
            }
        }

        .endOfCover {
            margin-top: -350px !important;
            height: 150px;
        }
    }

    @media only screen and (max-width: 800px) {
        .headSlider {
            height: 540px !important;

            img {
                padding: 20px 20px 0 0 !important;
                margin: auto !important;
                width: 180px !important;
                height: 180px !important;
            }

            .coverContent {
                padding: 0 !important;
                margin-top: 26px !important;
                overflow: hidden;
            }

            p {
                width: 140px !important;
                font-size: 10px !important;
                padding: 10px;
                margin: 0;
            }

            h3 {
                font-size: 12px !important;
                margin: 0;
            }

            .ServiceButton {
                width: 60px !important;
                padding: 1px;
                font-size: 12px;
                margin-top: -40px !important;
                // border-radius:10px;
            }

            .uk-slidenav-container {
                margin-top: -80px;
            }
        }

        .endOfCover {
            margin-top: -350px !important;
            height: 150px;
        }
    }
    /*#end cover-region */
    .sponsor {
        .uk-slider-items {
            img {
                filter: saturate(0%);
                @include trans(.5s);
                width: 60px;
                height: 50px;
            }

            a:hover {
                img {
                    filter: saturate(100%);
                }
            }

            padding: 40px 10px !important;
        }

        color: white;
        //background: #c4d1bb !important;
    }
    /*#endregion */
    /*#services-region */
    .Services {
        /*padding:20px;*/
        display: flex;

        div {
            flex: 1;

            h2 {
                color: #5cb152;
                font-family: Sahel !important;
                font-size: 24px;
                overflow: hidden;
            }

            p {
                margin-top: 0 !important;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 6; //number of lines to show
                -webkit-box-orient: vertical;
                text-align: justify;
                -ms-text-justify: kashida;
                text-justify: kashida;
            }
        }

        .MobileSize {
            display: none;
            height: 200px;
            width: 180px;
        }

        img {
            flex: 1;
            height: 320px;
            width: 320px;
        }
    }

    @media only screen and (max-device-width: 900px) {
        .Services {
            display: contents !important;

            div {


                h2 {
                    @include center();
                    color: #5cb152;
                    font-size: 12px !important;
                    margin-bottom: 10px !important;
                }

                p {
                    margin-top: 0 !important;
                    -webkit-line-clamp: 10; //number of lines to show
                    -webkit-box-orient: vertical;
                    font-size: 12px !important;
                    margin-bottom: 10px !important;
                }
            }

            .MobileSize {
                display: flex !important;
            }

            .DesktopSize {
                display: none;
            }

            button {
                width: 60px !important;
                padding: 10px !important;
                font-size: 8px !important;
                margin-bottom: 12px;
            }
        }
    }

    @media only screen and (max-width: 900px) {
        .Services {
            display: contents !important;

            div {


                h2 {
                    @include center();
                    color: #5cb152;
                    font-size: 12px !important;
                    margin-bottom: 10px !important;
                }

                p {
                    margin-top: 0 !important;
                    -webkit-line-clamp: 10; //number of lines to show
                    -webkit-box-orient: vertical;
                    font-size: 12px !important;
                    margin-bottom: 10px !important;
                }
            }

            .MobileSize {
                display: flex !important;
            }

            .DesktopSize {
                display: none;
            }

            button {
                width: 60px !important;
                padding: 5px !important;
                font-size: 8px !important;
                margin-bottom: 12px;
            }
        }
    }
    /*#endregion */
    /*slider style*********************/
    .projectsSlider {
        h4 {
            padding-bottom: 60px;

            .projectIcon {
                margin-left: 8px;
                width: 40px;
                height: 50px;
                color: #5cb152;
            }
        }

        .GreenBackground {
            padding-top: 120px !important;
            padding-bottom: 180px !important;
        }
        //background: red !important;
        .mat {
            width: 320px;
            padding: 30px;
            border-radius: 5px;
            padding-bottom: 70px !important;

            .rightSideLine {
                background: #BBD1AC;
                width: 18px;
                margin-left: 20px;
                border-radius: 30px;
            }

            img {
                width: 100px;
                height: 90px;
                margin-right: auto;
                margin-left: auto;
            }

            h4 {
                color: #5cb152;
            }

            p {
                color: black;
                overflow: hidden;
                text-align: justify;
                -ms-text-justify: kashida;
                text-justify: kashida;
            }

            a {
                color: #5CB152;
                text-decoration: none !important;
                margin-top: 40px !important;
            }
        }
    }
    /*end slider style***********************/
    /*why arvin region*/
    .whyArvin {
        font-family: Sahel;

        .whyComponent {
            ul {
                padding-right: 0 !important;

                li {
                    padding: 12px 0;
                }
            }

            p {
                text-align: justify;
                -ms-text-justify: kashida;
                text-justify: kashida;
            }

            img {
                height: 24px;
                width: 24px;
                margin-left: 10px;
            }
        }
    }

    @media only screen and (max-width: 900px) {
        .whyArvin {
            .whyComponent {
                font-size: 12px !important;
            }
        }
    }
    /*#endregion */
    /*#packages-region */
    .Packages {
        @include row();

        .ServiceButton {
            padding-right: 24px !important;
            padding-left: 24px !important;
        }
    }

    .packageOffer {
        width: 300px;
        background-image: url('../../img/Home/packagebackground.png');

        .ServiceButton:hover {
            background: transparent !important;
            color: black;
        }
    }

    .topPackage {
        color: white;
        width: 300px;
        height: 500px;
        background-image: url('../../img/Home/top-package.jpg');

        h3 {
            color: white;
        }

        .ServiceButton {
            background: white !important;
            color: #5cb152 !important;
        }

        .ServiceButton:hover {
            background: transparent !important;
        }
    }

    @media only screen and (max-device-width: 650px) {
        .Packages {
            @include column();

            .packageOffer {
                width: 230px;
            }

            .topPackage {
                width: 230px;
            }

            .ServiceButton {
                font-size: 16px !important;
            }
        }
    }

    @media only screen and (max-width: 650px) {
        .Packages {
            @include column();

            .packageOffer {
                width: 230px;
            }

            .topPackage {
                width: 230px;
            }

            .ServiceButton {
                font-size: 16px !important;
            }
        }
    }

    @media only screen and (min-device-width : 651px) and (max-device-width :800px) {
        .Packages {
            @include column();

            .packageOffer {
                width: 320px;
            }

            .topPackage {
                width: 320px;
            }
        }
    }

    @media only screen and (min-width : 651px) and (max-width :800px) {
        .Packages {
            @include column();

            .packageOffer {
                width: 320px;
            }

            .topPackage {
                width: 320px;
            }
        }
    }

    @media only screen and (min-device-width : 800px) and (max-device-width : 1320px) {

        .packageOffer {
            width: 230px;
        }

        .topPackage {
            width: 230px;
        }
    }

    @media only screen and (min-width : 800px) and (max-width : 1320px) {

        .packageOffer {
            width: 230px;
        }

        .topPackage {
            width: 230px;
        }
    }
    /*#endregion */
    /*#aboutArvin-region */
    .AboutArvin {
        background: #f8ffe5;
        padding: 20px;

        p {
            color: black;
            -webkit-line-clamp: 20 !important; //number of lines to show
        }
    }
    /*our team region */
    .ourteamSlider {
        .mat {
            display: flex;
            width: 220px;
            height: 350px;

            img {
                flex: 1;
                width: 140px;
                padding: 16px;
            }

            content {
                flex: 1;
            }

            label {
                color: #555;
            }
        }
    }
}