@import '_layout.scss';
@import '_colors.scss';
@import '_global.scss';



.GridBackground {

    * {
        overflow: visible !important;

        a:hover {
            text-decoration: none;
        }
    }

    padding: 80px 0px !important;
    margin-bottom: -70px !important
}

.loginSection {


    .loading {
        transform: rotateZ(180deg);
        width: 80px !important;
        height: 80px !important;
    }

    .login {
        width: 180px !important;
        margin: auto 120px;
        //margin-left: 130px !important;
    }

    input {
        background: #dcdbdb;
        border: none;
        padding: 10px 40px;
        margin: 8px 0;
        width: 180px;
    }

    label {
        font-size: 14px;
    }

    button {
        margin-top: 30px;
        width: 110px;
        padding: 10px;
        background: #5cb152;
        color: white;
        /*font-size: 20px;*/
        border: 1px solid #5cb152;
        border-radius: 8px;
    }

    .Btn {
        margin-top: 30px;
        width: 100px;
        padding: 10px 8px;
        background: #5cb152;
        color: white !important;
        font-size: 12px;
        border: 1px solid #5cb152;
        border-radius: 8px;
    }

    .Btn:hover {
        background: transparent;
        border: 1px solid #5cb152;
        color: #2a2929 !important;
        text-decoration: none;
    }

    button:hover {
        background: transparent;
        border: 1px solid #5cb152;
        color: #2a2929;
    }

    .recap {
        padding: 0px;
        margin: auto !important;
        margin-top: 8px !important;
        //width:200px;
    }

    .checkbox {
        // margin-top: 8px !important;
        input {
            width: 50px !important;
        }
    }

    .register {
        width: 180px !important;
        margin: auto 120px;
    }


    .grid {
        @include grid-gap(800px, 1.0em);
        padding: 20px 2vw;

        .mat {
            width: 800px !important;
            border-radius: 5px !important;
            padding: 40px !important;
        }

        a {
            color: #0DA574;
        }

        content {
            @include row();
        }
    }

    @media only screen and (max-device-width: 800px) {
        .login {
            margin: auto !important;
        }

        .register {
            margin: auto !important;
        }

        .grid {
            @include grid-gap(300px, 1.0em);
            padding: 20px 2vw;

            .mat {
                width: 300px !important;
                border-radius: 5px !important;
                padding: 30px 5px !important;
            }

            content {
                @include column();
            }
        }
    }

    @media only screen and (max-width: 800px) {
        .login {
            margin: auto !important;
        }

        .register {
            margin: auto !important;
        }

        .grid {
            @include grid-gap(300px, 1.0em);
            padding: 20px 2vw;

            .mat {
                width: 300px !important;
                border-radius: 5px !important;
                padding: 30px 5px !important;
            }

            content {
                @include column();
            }
        }
    }

    .successNotification {

        .mat {
            width: 500px !important;


            content {
                @include column();
            }
        }

        img {
            height: 85px;
            width: 85px;
            margin: auto;
        }

        button {
            padding: 5px;
            width: 100px;
        }
    }

    @media only screen and (max-width: 800px) {
        .successNotification {
            .mat {
                width: 100% !important;
                padding-left: 5px !important;
                padding-right: 5px !important;
            }
        }
    }

    .paymentPage {
        .TitleInPayment {
            background: #d2e8c3;
            padding: 5px 77px !important;
            color: #555;
            border-radius: 5px;
            margin-bottom: 8px;
        }

        .ServiceButton {
            padding: 8px;
        }

        #paymentText {
            height: 120px !important;
            resize: none;
            margin-top: 10px;
        }
    }
}
