/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

/*@mixin icon-glow() {
    -webkit-filter: drop-shadow( 0px 0px 5px green);
    filter: drop-shadow( 0px 0px 5px green);
    @include trans(0.5s);
}
@mixin subtle-glow() {
    -moz-box-shadow: #9EE250 0 6px 16px;
    -webkit-box-shadow: #9EE250 0 6px 16px;
    box-shadow: #9EE250 0 6px 16px;
}*/
.space {
  width: 100vw;
  height: 4vw; }

.space-double {
  width: 100vw;
  height: 8vw; }

.space-half {
  width: 100vw;
  height: 2vw; }

.space-nav {
  width: 100vw;
  height: 140px; }

.space-nav-bottom {
  width: 100vw;
  height: 60px; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .space-nav {
    width: 100vw;
    height: 7vw; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .space-nav {
    width: 100vw;
    height: 14vw; } }

/*#region Alignment */
.my-column {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.my-row {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.center {
  text-align: center;
  align-content: center;
  align-self: center;
  margin: 0 auto; }

.fillwidth {
  min-width: 100%;
  height: auto; }

.fillheight {
  min-height: 100%;
  width: auto; }

/*#endregion */
.my-clipped {
  margin-left: auto;
  margin-right: auto;
  width: 84vw; }

.full-width {
  width: 100vw; }

.full-height {
  height: 100vh; }

.overflow-visible {
  overflow: visible !important; }

.overflow-hidden {
  overflow: hidden !important; }

/*#region Margin */
.margin-auto-left {
  margin-left: auto; }

.margin-auto-right {
  margin-right: auto; }

.margin-auto-bottom {
  margin-bottom: auto; }

.margin-auto-top {
  margin-top: auto; }

/*#endregion */
.padding {
  padding: 16px !important; }

/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

/*@mixin icon-glow() {
    -webkit-filter: drop-shadow( 0px 0px 5px green);
    filter: drop-shadow( 0px 0px 5px green);
    @include trans(0.5s);
}
@mixin subtle-glow() {
    -moz-box-shadow: #9EE250 0 6px 16px;
    -webkit-box-shadow: #9EE250 0 6px 16px;
    box-shadow: #9EE250 0 6px 16px;
}*/
/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

/*@mixin icon-glow() {
    -webkit-filter: drop-shadow( 0px 0px 5px green);
    filter: drop-shadow( 0px 0px 5px green);
    @include trans(0.5s);
}
@mixin subtle-glow() {
    -moz-box-shadow: #9EE250 0 6px 16px;
    -webkit-box-shadow: #9EE250 0 6px 16px;
    box-shadow: #9EE250 0 6px 16px;
}*/
.visible {
  visibility: visible; }

.collapsed {
  height: 0 !important;
  width: 0 !important;
  flex: 0 !important; }

.hidden {
  visibility: hidden; }

.absolute {
  position: absolute; }

.unselectable {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -webkit-user-select: none !important;
  user-select: none !important; }

.dummy {
  width: 100px;
  height: 100px;
  background: red; }

.space-mobile {
  visibility: collapse; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .space-mobile {
      width: 100vw;
      height: 10vw; } }

.space-desktop {
  width: 100vw;
  height: 4vw; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .space-desktop {
      visibility: collapse; } }

.GridBackground {
  padding: 80px 0px !important;
  margin-bottom: -70px !important; }
  .GridBackground * {
    overflow: visible !important; }
    .GridBackground * a:hover {
      text-decoration: none; }

.loginSection .login {
  width: 180px !important;
  margin: auto 120px; }

.loginSection input {
  background: #dcdbdb;
  border: none;
  padding: 10px 40px;
  margin: 8px 0;
  width: 180px; }

.loginSection label {
  font-size: 14px; }

.loginSection button {
  margin-top: 30px;
  width: 110px;
  padding: 10px;
  background: #5cb152;
  color: white;
  /*font-size: 20px;*/
  border: 1px solid #5cb152;
  border-radius: 8px; }

.loginSection .Btn {
  margin-top: 30px;
  width: 100px;
  padding: 10px 8px;
  background: #5cb152;
  color: white !important;
  font-size: 12px;
  border: 1px solid #5cb152;
  border-radius: 8px; }

.loginSection .Btn:hover {
  background: transparent;
  border: 1px solid #5cb152;
  color: #2a2929 !important;
  text-decoration: none; }

.loginSection button:hover {
  background: transparent;
  border: 1px solid #5cb152;
  color: #2a2929; }

.loginSection .recap {
  padding: 0px;
  margin: auto !important;
  margin-top: 8px !important; }

.loginSection .checkbox input {
  width: 50px !important; }

.loginSection .register {
  width: 180px !important;
  margin: auto 120px; }

.loginSection .grid {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  padding: 20px 2vw; }
  .loginSection .grid .mat {
    width: 800px !important;
    border-radius: 5px !important;
    padding: 40px !important; }
  .loginSection .grid a {
    color: #0DA574; }
  .loginSection .grid content {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center; }

@media only screen and (max-device-width: 800px) {
  .loginSection .login {
    margin: auto !important; }
  .loginSection .register {
    margin: auto !important; }
  .loginSection .grid {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px 2vw; }
    .loginSection .grid .mat {
      width: 300px !important;
      border-radius: 5px !important;
      padding: 30px 5px !important; }
    .loginSection .grid content {
      display: flex;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
      -ms-align-content: center;
      -webkit-align-content: center;
      align-content: center; } }

@media only screen and (max-width: 800px) {
  .loginSection .login {
    margin: auto !important; }
  .loginSection .register {
    margin: auto !important; }
  .loginSection .grid {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px 2vw; }
    .loginSection .grid .mat {
      width: 300px !important;
      border-radius: 5px !important;
      padding: 30px 5px !important; }
    .loginSection .grid content {
      display: flex;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
      -ms-align-content: center;
      -webkit-align-content: center;
      align-content: center; } }

.loginSection .successNotification .mat {
  width: 500px !important; }
  .loginSection .successNotification .mat content {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center; }

.loginSection .successNotification img {
  height: 85px;
  width: 85px;
  margin: auto; }

.loginSection .successNotification button {
  padding: 5px;
  width: 100px; }

@media only screen and (max-width: 800px) {
  .loginSection .successNotification .mat {
    width: 300px !important;
    padding-left: 5px !important;
    padding-right: 5px !important; } }
