/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

/*@mixin icon-glow() {
    -webkit-filter: drop-shadow( 0px 0px 5px green);
    filter: drop-shadow( 0px 0px 5px green);
    @include trans(0.5s);
}
@mixin subtle-glow() {
    -moz-box-shadow: #9EE250 0 6px 16px;
    -webkit-box-shadow: #9EE250 0 6px 16px;
    box-shadow: #9EE250 0 6px 16px;
}*/
.space {
  width: 100vw;
  height: 4vw; }

.space-double {
  width: 100vw;
  height: 8vw; }

.space-half {
  width: 100vw;
  height: 2vw; }

.space-nav {
  width: 100vw;
  height: 140px; }

.space-nav-bottom {
  width: 100vw;
  height: 60px; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .space-nav {
    width: 100vw;
    height: 7vw; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .space-nav {
    width: 100vw;
    height: 14vw; } }

/*#region Alignment */
.my-column {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.my-row {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.center {
  text-align: center;
  align-content: center;
  align-self: center;
  margin: 0 auto; }

.fillwidth {
  min-width: 100%;
  height: auto; }

.fillheight {
  min-height: 100%;
  width: auto; }

/*#endregion */
.my-clipped {
  margin-left: auto;
  margin-right: auto;
  width: 84vw; }

.full-width {
  width: 100vw; }

.full-height {
  height: 100vh; }

.overflow-visible {
  overflow: visible !important; }

.overflow-hidden {
  overflow: hidden !important; }

/*#region Margin */
.margin-auto-left {
  margin-left: auto; }

.margin-auto-right {
  margin-right: auto; }

.margin-auto-bottom {
  margin-bottom: auto; }

.margin-auto-top {
  margin-top: auto; }

/*#endregion */
.padding {
  padding: 16px !important; }

/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

/*@mixin icon-glow() {
    -webkit-filter: drop-shadow( 0px 0px 5px green);
    filter: drop-shadow( 0px 0px 5px green);
    @include trans(0.5s);
}
@mixin subtle-glow() {
    -moz-box-shadow: #9EE250 0 6px 16px;
    -webkit-box-shadow: #9EE250 0 6px 16px;
    box-shadow: #9EE250 0 6px 16px;
}*/
/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

/*@mixin icon-glow() {
    -webkit-filter: drop-shadow( 0px 0px 5px green);
    filter: drop-shadow( 0px 0px 5px green);
    @include trans(0.5s);
}
@mixin subtle-glow() {
    -moz-box-shadow: #9EE250 0 6px 16px;
    -webkit-box-shadow: #9EE250 0 6px 16px;
    box-shadow: #9EE250 0 6px 16px;
}*/
.visible {
  visibility: visible; }

.collapsed {
  height: 0 !important;
  width: 0 !important;
  flex: 0 !important; }

.hidden {
  visibility: hidden; }

.absolute {
  position: absolute; }

.unselectable {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -webkit-user-select: none !important;
  user-select: none !important; }

.dummy {
  width: 100px;
  height: 100px;
  background: red; }

.space-mobile {
  visibility: collapse; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .space-mobile {
      width: 100vw;
      height: 10vw; } }

.space-desktop {
  width: 100vw;
  height: 4vw; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .space-desktop {
      visibility: collapse; } }

.productsSection {
  /*end region*/ }
  .productsSection .whiteBackground, .productsSection .Services {
    background: white !important; }
  .productsSection .product {
    margin-top: -132px !important; }
  .productsSection .productDescription {
    margin-top: -200px;
    /*#services-region */
    /*#endregion */ }
    .productsSection .productDescription .Services {
      /*padding:20px;*/
      display: flex; }
      .productsSection .productDescription .Services div {
        flex: 1; }
        .productsSection .productDescription .Services div h2 {
          color: #5cb152;
          font-family: Sahel !important;
          font-size: 24px;
          overflow: hidden; }
        .productsSection .productDescription .Services div p {
          margin-top: 0 !important;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
          text-align: justify;
          -ms-text-justify: kashida;
          text-justify: kashida; }
      .productsSection .productDescription .Services .MobileSize {
        display: none;
        height: 200px;
        width: 180px; }
      .productsSection .productDescription .Services img {
        flex: 1;
        height: 320px;
        width: 320px; }
    @media only screen and (max-device-width: 600px) {
      .productsSection .productDescription .productDescription .Services {
        display: contents !important; }
        .productsSection .productDescription .productDescription .Services div h2 {
          color: #5cb152;
          font-size: 12px !important;
          margin-bottom: 10px !important; }
        .productsSection .productDescription .productDescription .Services div p {
          margin-top: 0 !important;
          -webkit-line-clamp: 10;
          -webkit-box-orient: vertical;
          font-size: 12px !important;
          margin-bottom: 10px !important; }
        .productsSection .productDescription .productDescription .Services .MobileSize {
          display: flex !important; }
        .productsSection .productDescription .productDescription .Services .DesktopSize {
          display: none; }
        .productsSection .productDescription .productDescription .Services button {
          width: 60px !important;
          padding: 10px !important;
          font-size: 8px !important;
          margin-bottom: 12px; } }
    @media only screen and (max-width: 600px) {
      .productsSection .productDescription .Services {
        display: contents !important; }
        .productsSection .productDescription .Services div h2 {
          color: #5cb152;
          font-size: 12px !important;
          margin-bottom: 10px !important; }
        .productsSection .productDescription .Services div p {
          margin-top: 0 !important;
          -webkit-line-clamp: 10;
          -webkit-box-orient: vertical;
          font-size: 12px !important;
          margin-bottom: 10px !important; }
        .productsSection .productDescription .Services .MobileSize {
          display: flex !important; }
        .productsSection .productDescription .Services .DesktopSize {
          display: none; }
        .productsSection .productDescription .Services button {
          width: 60px !important;
          padding: 5px !important;
          font-size: 8px !important;
          margin-bottom: 12px; } }
  .productsSection .productsGrid {
    margin-bottom: 70px;
    margin-top: 70px;
    /*products page style region*/
    /*#host-region */ }
    .productsSection .productsGrid .grid {
      display: grid;
      grid-template-rows: auto;
      grid-gap: 10em;
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      padding: 20px 2vw; }
      .productsSection .productsGrid .grid * {
        overflow: visible; }
      .productsSection .productsGrid .grid img {
        width: 60px;
        height: 60px; }
      .productsSection .productsGrid .grid h4 {
        padding-top: 20px;
        font-family: Sahel !important;
        overflow: hidden !important;
        color: #5cb152; }
      .productsSection .productsGrid .grid ul {
        padding-top: 20px !important;
        font-family: Sahel !important; }
      .productsSection .productsGrid .grid li {
        padding-bottom: 10px; }
        .productsSection .productsGrid .grid li i {
          padding-left: 8px; }
      .productsSection .productsGrid .grid ul {
        list-style-type: none !important; }
      .productsSection .productsGrid .grid .mat {
        width: 230px;
        border-radius: 10px; }
      .productsSection .productsGrid .grid .ServiceButton {
        width: 130px;
        padding: 5px;
        font-size: 14px;
        margin-right: 44px !important;
        margin-top: 40px; }
  .productsSection .productcontent {
    padding-right: 40px; }
    .productsSection .productcontent progress::-moz-progress-bar {
      background-color: #e8e8e8; }
    .productsSection .productcontent progress::-webkit-progress-bar {
      background-color: #e8e8e8; }
    .productsSection .productcontent progress::-webkit-progress-value {
      background-color: #5cb152; }
    .productsSection .productcontent progress {
      width: 400px;
      height: 12px;
      border-radius: 20px;
      margin-top: 5px;
      margin-right: 5px;
      margin-left: 5px; }
    .productsSection .productcontent * {
      overflow: hidden; }
    .productsSection .productcontent label {
      font-size: 14px; }
    .productsSection .productcontent .amount {
      color: #5cb152; }
    .productsSection .productcontent ul {
      padding-top: 20px !important;
      font-family: Sahel !important; }
    .productsSection .productcontent li {
      padding-bottom: 24px; }
      .productsSection .productcontent li i {
        margin-left: 14px; }
    .productsSection .productcontent .ServiceButton {
      float: left;
      margin-left: 40px; }
  @media only screen and (max-width: 800px) {
    .productsSection .productcontent {
      padding-right: 0px; }
      .productsSection .productcontent progress {
        width: 182px;
        height: 10px;
        margin-top: 5px;
        margin-right: 5px !important; }
      .productsSection .productcontent label {
        font-size: 12px; }
      .productsSection .productcontent .amount {
        margin-right: 5px !important; }
      .productsSection .productcontent li {
        padding-bottom: 24px; }
        .productsSection .productcontent li i {
          margin-left: 14px; }
      .productsSection .productcontent .ServiceButton {
        float: none;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        align-content: center;
        align-self: center;
        margin: 0 auto;
        width: 100px !important;
        margin-bottom: 50px; } }
  .productsSection .descriptionOfProduct {
    padding: 72px 200px 100px 200px;
    background: white !important;
    margin-bottom: 100px;
    margin-top: 50px; }
    .productsSection .descriptionOfProduct img {
      position: absolute;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      align-content: center;
      align-self: center;
      margin: 0 auto;
      width: 80px;
      height: 60px;
      opacity: 0.3;
      margin-top: -90px; }
    .productsSection .descriptionOfProduct h4 {
      text-align: center;
      align-content: center;
      align-self: center;
      margin: 0 auto;
      text-align: center;
      color: #5cb152;
      margin-bottom: 30px;
      font-family: Sahel;
      overflow: hidden; }
    .productsSection .descriptionOfProduct p {
      color: black;
      overflow: hidden;
      text-align: justify;
      -ms-text-justify: kashida;
      text-justify: kashida; }
  @media only screen and (max-width: 800px) {
    .productsSection .Price {
      display: flex;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
      -ms-align-content: center;
      -webkit-align-content: center;
      align-content: center;
      text-align: center;
      align-content: center;
      align-self: center;
      margin: 0 auto;
      margin-left: auto;
      margin-right: auto;
      width: 84vw; }
      .productsSection .Price label {
        margin-right: 7px;
        padding-bottom: 5px; }
    .productsSection .descriptionOfProduct {
      padding: 40px;
      background: white !important;
      margin-bottom: 100px;
      margin-top: 50px; }
      .productsSection .descriptionOfProduct p {
        color: black;
        overflow: hidden;
        text-align: justify;
        -ms-text-justify: kashida;
        text-justify: kashida; } }
