@import '_layout.scss';
@import '_colors.scss';
@import '_global.scss';


.productsSection {
    .whiteBackground, .Services {
        background: white !important;
    }

    .product {
        margin-top: -132px !important;
    }

    .productDescription {
        margin-top: -200px;
        /*#services-region */
        .Services {
            /*padding:20px;*/
            display: flex;

            div {
                flex: 1;

                h2 {
                    color: #5cb152;
                    font-family: Sahel !important;
                    font-size: 24px;
                    overflow: hidden;
                }

                p {
                    margin-top: 0 !important;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 6; //number of lines to show
                    -webkit-box-orient: vertical;
                    text-align: justify;
                    -ms-text-justify: kashida;
                    text-justify: kashida;
                }
            }

            .MobileSize {
                display: none;
                height: 200px;
                width: 180px;
            }

            img {
                /*flex: 1;*/
                height: 320px;
                width: 320px;
            }
        }

        @media only screen and (max-device-width: 600px) {
            .productDescription {
                .Services {
                    display: contents !important;

                    div {


                        h2 {
                            color: #5cb152;
                            font-size: 12px !important;
                            margin-bottom: 10px !important;
                        }

                        p {
                            margin-top: 0 !important;
                            -webkit-line-clamp: 10; //number of lines to show
                            -webkit-box-orient: vertical;
                            font-size: 12px !important;
                            margin-bottom: 10px !important;
                        }
                    }

                    .MobileSize {
                        display: flex !important;
                    }

                    .DesktopSize {
                        display: none;
                    }

                    button {
                        width: 60px !important;
                        padding: 10px !important;
                        font-size: 8px !important;
                        margin-bottom: 12px;
                    }
                }
            }
        }

        @media only screen and (max-width: 600px) {
            .Services {
                display: contents !important;

                div {
                    h2 {
                        color: #5cb152;
                        font-size: 12px !important;
                        margin-bottom: 10px !important;
                    }

                    p {
                        margin-top: 0 !important;
                        -webkit-line-clamp: 10; //number of lines to show
                        -webkit-box-orient: vertical;
                        font-size: 12px !important;
                        margin-bottom: 10px !important;
                    }
                }

                .MobileSize {
                    display: flex !important;
                }

                .DesktopSize {
                    display: none;
                }

                button {
                    width: 60px !important;
                    padding: 5px !important;
                    font-size: 8px !important;
                    margin-bottom: 12px;
                }
            }
        }
        /*#endregion */
    }

    .productsGrid {
        margin-bottom: 70px;
        margin-top: 70px;
        /*products page style region*/
        /*#host-region */
        .grid {

            * {
                overflow: visible;
            }

            img {
                width: 60px;
                height: 60px;
            }

            h4 {
                padding-top: 20px;
                font-family: Sahel !important;
                overflow: hidden !important;
                color: #5cb152;
            }

            ul {
                padding-top: 20px !important;
                font-family: Sahel !important;
            }

            li {
                padding-bottom: 10px;

                i {
                    padding-left: 8px;
                }
            }

            @include grid-gap(230px,10em);
            padding: 20px 2vw;

            ul {
                list-style-type: none !important;
            }

            .mat {
                width: 230px;
                border-radius: 10px;
            }

            .ServiceButton {
                width: 130px;
                padding: 5px;
                font-size: 14px;
                margin-right: 44px !important;
                margin-top: 40px;
            }
        }
    }
    /*end region*/
    .productcontent {
        padding-right: 40px;
        //  width: 92vw !important;
        //   margin: auto;
        progress::-moz-progress-bar {
            background-color: #e8e8e8;
        }

        progress::-webkit-progress-bar {
            background-color: #e8e8e8;
        }

        progress::-webkit-progress-value {
            background-color: #5cb152;
        }

        progress {
            width: 400px;
            height: 12px;
            border-radius: 20px;
            margin-top: 5px;
            margin-right: 5px;
            margin-left: 5px;
        }

        * {
            overflow: hidden;
        }

        label {
            font-size: 14px;
        }

        .amount {
            color: #5cb152;
        }

        ul {
            padding-top: 20px !important;
            font-family: Sahel !important;
        }

        li {
            padding-bottom: 24px;

            i {
                margin-left: 14px;
            }
        }

        .ServiceButton {
            float: left;
            margin-left: 40px;
        }
    }

    @media only screen and (max-width: 800px) {
        .productcontent {
            padding-right: 0px;

            progress {
                width: 182px;
                height: 10px;
                margin-top: 5px;
                margin-right: 5px !important;
            }

            label {
                font-size: 12px;
            }

            .amount {
                margin-right: 5px !important;
            }

            ul {
            }

            li {
                padding-bottom: 24px;

                i {
                    margin-left: 14px;
                }
            }

            .ServiceButton {
                float: none;
                margin-right: auto;
                margin-left: auto;
                @include center();
                width: 100px !important;
                margin-bottom: 50px;
            }
        }
    }

    .descriptionOfProduct {
        padding: 72px 200px 100px 200px;
        background: white !important;
        margin-bottom: 100px;
        margin-top: 50px;
        h4 {
            @include center();
            text-align: center;
            color: #5cb152;
            margin-bottom: 30px;
            font-family: Sahel;
            overflow: hidden;
        }

        p {
            color: black;
            overflow: hidden;
            text-align: justify;
            -ms-text-justify: kashida;
            text-justify: kashida;
        }
    }

    @media only screen and (max-width: 800px) {
        .Price {
            @include column();
            @include center();
            @include my-clipped;

            label {
                margin-right: 7px;
                padding-bottom: 5px;
            }
        }

        .descriptionOfProduct {
            padding: 40px;
            background: white !important;
            margin-bottom: 100px;
            margin-top: 50px;

            p {
                color: black;
                overflow: hidden;
                text-align: justify;
                -ms-text-justify: kashida;
                text-justify: kashida;
            }
        }
    }
}

