<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        افزودن گزارش
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div class="form-row"> 
            <div class="form-group col-12 col-md-6">
                <input type="text" class="form-control form-control-sm" id="Title" placeholder="عنوان">
            </div>
        </div>
        <div class="form-row">
            <textarea class="col-12" id="Description"> 
            </textarea>
        </div>
    </div>
    <div class="modal-footer justify-content-end">
        <a id="BtnCreateMarketerReport" class="btn btn-success btn-sm text-white"><i class="fas fa-plus-circle"></i>افزودن</a>
    </div>
</form>

<script>
    $("#BtnCreateMarketerReport").click(function () {
        if ($("#Title").val() == null || $("#Title").val() == "" || $("#Description").val() == null || $("#Description").val() == "") {
            $("#BtnCreateMarketerReport").removeClass('btn-success');
            $("#BtnCreateMarketerReport").addClassClass('btn-danger');
            $("#BtnCreateMarketerReport").html("تمامی موارد اجباری میباشد");
        } else {
            $("#BtnCreateMarketerReport").removeClass('btn-danger');
            $("#BtnCreateMarketerReport").addClass('btn-success');
            $("#BtnCreateMarketerReport").html("<i class='fas fa-plus-circle'></i>افزودن");

            var Title = $("#Title").val();
            var Description = $("#Description").val();

            $.post("/Admin/Marketer/CraateReportUp?Title=" + Title + "&Description=" + Description, function (result) {
                if (result == "true") {
                    window.location.reload();
                } else {
                    alert(result);
                }
            });
        }
    });
</script>
