<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        افزودن گزارش
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-12 col-md-6">
                <input type="text" class="form-control form-control-sm" id="Title" placeholder="عنوان">
            </div>
        </div>
        <div class="form-row">
            <textarea class="col-12" id="Description"  rows="4" cols="50" maxlength="400" style="max-height:130px" placeholder="توضیحات..."></textarea>
        </div>
    </div>
    <div class="modal-footer justify-content-end">
        <img src="~/img/gif/load.gif" class="loding justify-content-center d-none" />
        <a id="BtnCreateMarketerReport" class="btn btn-success btn-sm text-white"><i class="fas fa-plus-circle"></i>افزودن</a>
    </div>
</form>

<script src="~/Areas/Admin/CommandJs/Marketer.js"></script>
