
@{
    ViewBag.Title = "نمایندگی فروش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
                <div class="row justify-content-end">
                    <div class="col-12">
                        <a id="AddList" class="btn btn-success btn-sm text-white" data-toggle="modal" data-target="#modalSave"><i class="fas fa-plus-circle"></i>افزودن گزارش</a>
                    </div>
                </div>
            </div>

            <div id="card-table" class="card-body flex-div">
                <div class="table-responsive flex">
                    <table class="table fixed">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">عنوان</th>
                                <th scope="col">وضعیت</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                </td>
                                <td class="text-success">
                                    تأیید شده
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer bg-white">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">

                        <li class="page-item d-none">
                            <a class="page-link" onclick="Page(0)">قبلی</a>
                        </li>

                        <li class="page-item">
                            <select id="pageNumber" class="custom-select custom-select-sm">
                                <option class="page-item" value="1" selected="">صفحه 1 از 1</option>
                            </select>
                        </li>


                        <li class="page-item d-none">
                            <a class="page-link" onclick="Page(2)">بعدی</a>
                        </li>
                        <li>
                            <select id="InPageCount" class="custom-select custom-select-sm">
                                <option value="0" selected="">18 در هر صفحه</option>
                                <option value="20">20 در هر صفحه</option>
                                <option value="30">30 در هر صفحه</option>
                                <option value="40">40 در هر صفحه</option>
                            </select>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalSave" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <img src="~/img/gif/load.gif" class="loding justify-content-center" />
            @*JS Dynamic*@
        </div>
    </div>
</div>
<!-- Button trigger modal -->


@section Scripts{
    <script>
        $("#AddList").click(function () {
            $.get("/Admin/Marketer/CraateReport", function (result) {
                $(".modal-dialog").removeClass("modal-xl");
                $(".modal-dialog").removeClass("modal-md");
                $(".modal-dialog").addClass("modal-lg");
                $(".modal-content").html(result);
            });
        });
    </script>

}

