<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
                    <div class="row col-12">
                        <label class="uk-text-bold pr-3">کد تیکت:</label>
                        <span>56415</span>
                        <a href="/User/Ticket/Index" class="btn btn-primary btn-sm text-white float-left uk-margin-auto-right uk-margin-auto-top uk-margin-auto-bottom">بازگشت</a>
                    </div>
            </div>
            <div id="card-table" class="card-body flex-div">
                <div class="table-responsive flex">
                    <div class="table fixed">
                        <div class="col-10 col-sm-10 col-md-6 bg-costum p-3 uk-border-rounded">
                            <p class="justify-text">
                                با توسعهی مراکز شهری و پیشرفت تکنولوژیهای شهر هوشمند و رشد جمعیت، موضوع حمل و نقل با چالشهای متعددی مواجه شدهاست. یکی از اساسیترین چالشهای جوامع شهری، مدیریت مناسب شرایط اورژانسی است که پس از بروز حوادث ترافیکی ایجاد میشود.
                            </p>
                            <time>10:00</time>
                        </div>
                        &nbsp;
                        <div class="col-10 col-sm-10 col-md-6 bg-light p-3 uk-border-rounded">
                            <p class="justify-text">
                                با توسعهی مراکز شهری و پیشرفت تکنولوژیهای شهر هوشمند و رشد جمعیت، موضوع حمل و نقل با چالشهای متعددی مواجه شدهاست. یکی از اساسیترین چالشهای جوامع شهری، مدیریت مناسب شرایط اورژانسی است که پس از بروز حوادث ترافیکی ایجاد میشود.
                            </p>
                            <time>10:00</time>
                        </div>
                        &nbsp;
                        <div class="col-10 col-sm-10 col-md-6 bg-costum p-3 uk-border-rounded">
                            <p class="justify-text">
                                با توسعهی مراکز شهری و پیشرفت تکنولوژیهای شهر هوشمند و رشد جمعیت، موضوع حمل و نقل با چالشهای متعددی مواجه شدهاست. یکی از اساسیترین چالشهای جوامع شهری، مدیریت مناسب شرایط اورژانسی است که پس از بروز حوادث ترافیکی ایجاد میشود.
                            </p>
                            <time>10:00</time>
                        </div>
                        &nbsp;
                        <div class="col-10 col-sm-10 col-md-6 bg-light p-3 uk-border-rounded">
                            <p class="justify-text">
                                با توسعهی مراکز شهری و پیشرفت تکنولوژیهای شهر هوشمند و رشد جمعیت، موضوع حمل و نقل با چالشهای متعددی مواجه شدهاست. یکی از اساسیترین چالشهای جوامع شهری، مدیریت مناسب شرایط اورژانسی است که پس از بروز حوادث ترافیکی ایجاد میشود.
                                با توسعهی مراکز شهری و پیشرفت تکنولوژیهای شهر هوشمند و رشد جمعیت، موضوع حمل و نقل با چالشهای متعددی مواجه شدهاست. یکی از اساسیترین چالشهای جوامع شهری، مدیریت مناسب شرایط اورژانسی است که پس از بروز حوادث ترافیکی ایجاد میشود.
                            </p>
                            <time>10:00</time>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-white ">
                <nav aria-label="Page navigation example">
                    <div class="row ">
                        <div class="row col-sm-12 col-12">
                            <textarea class="form-control col-sm-10 col-12 textarea-max-height-90 " ></textarea>
                            <a class="float-left uk-margin-auto-right uk-margin-auto-top uk-margin-auto-bottom uk-margin-auto-right"><i class="fas fa-paperclip fa-5x "></i></a>
                            <a class="btn btn-info btn-sm text-white float-left uk-margin-auto-right uk-margin-auto-top uk-margin-auto-bottom mb-4 mt-3"><i class="fas fa-reply"></i>پاسخ</a>
                            <a class="btn btn-success btn-sm text-white float-left mr-2 mb-4 uk-margin-auto-top uk-margin-auto-bottom mt-3"><i class="fas fa-check"></i>تکمیل</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
