
@{
    ViewBag.Title = "لینک ارسال شد | آروین تاو";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="GridBackground loginSection center ">
    <content class="grid successNotification " dir="rtl">
        <div class="my-column my-clipped uk-margin-xlarge-top  mat ">
            <img class="uk-margin-bottom" src="~/img/login/done.png" />
            <label class="uk-margin-auto-top uk-margin-auto-bottom ">لینک بازیابی رمز حساب شما از طریق پیامک ارسال شد</label>
        </div>
    </content>
</div>  