
@{
    ViewBag.Title = "بازیابی رمز عبور";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="GridBackground loginSection center">
    <content class="grid " dir="rtl">
        <div class="my-column my-clipped center mat loginSection ">
            <content>
                <img class="login" src="~/img/login/Svg/Group 102.svg" />
                <form method="post" action="/Account/ForgetPassword">

                    @Html.AntiForgeryToken()


                    <label>شماره تماس</label>
                    <div>
                        <input type="tel" maxlength="15" minlength="11" required name="PhoneNumber" />
                        
                        <br />
                        <span class="uk-text-danger">@ViewBag.Massage</span>
                    </div>

                    <div class="recap">
                        <div class="g-recaptcha " data-sitekey="6LeiCdkZAAAAAHgPzJSvSmJw6KOh6o0nGKnnhwpM"></div>
                        <small class="uk-text-danger">@ViewBag.MessageGoogle</small>
                    </div>


                    <div class="my-row center uk-padding">

                        <button class="uk-margin-auto-left uk-margin-auto-right" type="submit" value="ارسال">ارسال</button>
                        <span class="uk-text-success">@ViewBag.success</span>

                    </div>

                </form>
            </content>
        </div>

    </content>
</div>

