<div class="modal-header">
    <h6 class="modal-title mr-3" id="modalCenterTitle">
        جزئیات تیکت
    </h6>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div id="card-table" class="card-body flex-div">
            <div class="form-row ">
                <div class="form-group col-md-4">
                    <label>کد تیکت:</label>
                    <span>84563</span>
                </div>
                <div class="form-group col-md-4">
                    <label>موضوع:</label>
                    <span>مشکل فنی</span>
                </div>
                <div class="form-group col-md-4">
                    <label>نام کاربر:</label>
                    <span>رضا نامدار</span>
                </div>
                <div class="form-group col-md-4">
                    <label>شماره تلفن:</label>
                    <span>09145684952</span>
                </div>
                <div class="form-group col-md-4">
                    <label>سرویس:</label>
                    <span>طراحی وبسایت</span>
                </div>
                <div class="form-group col-md-4">
                    <label>بخش مربوطه:</label>
                    <span>بخش فنی</span>
                </div>
                <div class="form-group col-md-4">
                    <label>تاریخ و زمان ثبت تیکت:</label>
                    <span>نه مهر </span>
                </div>
                <div class="form-group col-md-4">
                    <label>وضعیت:</label>
                    <span class="text-primary">منتظر پرداخت</span>
                </div>
                <div class="form-group col-md-4">
                    <label>زمان تکمیل تیکت:</label>
                    <span>12مهر</span>
                </div>
            </div>
            <label>توضیحات کاربر</label>
            <div class="card-form">
               <div></div>
            </div>
            &nbsp;
            <label>پاسخ به تیکت</label>

            <textarea class="form-control" rows="4">

            </textarea>
        </div>
    </div>
    <div class="modal-footer justify-content-end">
        @*<textarea id="my-textarea" name="Mytext"></textarea>*@
        <button type="button" class="btn btn-sm btn-success">
            تکمیل
        </button>
        <button type="button" class="btn btn-sm btn-info">پاسخ</button>


    </div>
</form>