@model DataLayer.ChildCategoryViewModel

<div>
    <select onchange="SelectorOnChange(this)">
        <option selected value="0">انتخاب زیرمجموعه @Model.ParentTitle</option>
        @foreach (var item in Model.ChildCategories)
        {
            <option value="@item.ID">@item.Title</option>
        }
    </select><div></div>
</div>

<script>
    function SelectorOnChange(select) {
        $.get("/Admin/ServiceCategory/P_ChildCategoryInCreate?ParentID=" + select.value, function (result) {
            select.nextSibling.innerHTML = result;
            $("#Category").val(select.value);
        });
    }
</script>


