<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        افزودن دسته بندی جدید
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <input type="hidden" id="ParentID" value="@ViewBag.ParentID" />
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Title">عنوان</label>
                <input type="text" class="form-control form-control-sm" id="Title" placeholder="عنوان">
            </div>
            <div class="form-group col-md-6">
                <label for="IsActive">فعال باشد</label>
                <input type="checkbox" id="IsActive" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="custom-file">
                    <input type="file" class="custom-file-input form-control form-control-sm" id="Image" accept="image/jpg,image/png">
                    <label class="custom-file-label" for="Image" data-browse="انتخاب">انتخاب فایل</label>
                </div>
            </div>
        </div>
        <div class="space-half"></div>

        <textarea id="my-textarea" name="Mytext"></textarea>
        <div class="form-row">

        </div>
    </div>
    <div class="space"></div>
    <div class="modal-footer justify-content-end">
        <a id="AddCategory" class="btn btn-success btn-sm text-white"><i class="fas fa-plus-circle"></i>افزودن</a>
    </div>
</form>

<script>
    $(function () {
        $('#my-textarea').ckeditor();
    });

    $("#AddCategory").click(function () {
        if ($("#Title").val() == null || $("#Title").val() == "" || $("#Image").val() == null || $("#Image").val() == "" || $("#my-textarea").val() == null || $("#my-textarea").val() == "") {
            $("#AddCategory").html("همه موارد اجباری میباشد");
            $("#AddCategory").removeClass("btn-success");
            $("#AddCategory").addClass("btn-danger");
        } else {
            $("#AddCategory").html("<i class='fas fa-plus-circle'></i>افزودن");
            $("#AddCategory").addClass("btn-success");
            $("#AddCategory").removeClass("btn-danger");
            var data = new FormData();
            var files = $("#Image").get(0).files;
            if (files.length > 0) {
                data.append("UploadCategoryImageFile", files[0]);
            }
            $.ajax({
                url: "/Admin/Upload/UploadCategoryImage",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    var Image = response;
                    var ParentID = $("#ParentID").val();
                    var Title = $("#Title").val();
                    if ($("#IsActive").is(":checked")) {
                        var IsActive = "true";
                    }
                    if ($("#ActiveSource").is(":not(:checked)")) {
                        var IsActive = "false";
                    }
                    var mytextarea = $("#my-textarea").val();
                    alert(ParentID + "<br />" + Title + "<br />" + mytextarea + "<br />" + Image + "<br />" + IsActive);
                    $.ajax({
                        type: "POST",
                        url: '/Admin/ServiceCategory/Create',
                        data: { ParentID: ParentID, Title: Title, IsActive: IsActive, Description: mytextarea, Image: Image },
                        success: function (result) {
                            if (result == "true") {
                                window.location.reload();
                            }
                        },
                        dataType: "json",
                        traditional: true
                    });
                },
                error: function (er) {
                    alert(er);
                }

            });

        }

    });

</script>