@model IEnumerable<DataLayer.ServiceCategory>
<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        افزودن به لیست
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body my-column">

        <div>
            <select id="MainCategorySelect">
                <option selected value="0">انتخاب دسته</option>
                @foreach (var item in Model)
                {
                    <option value="@item.ID">@item.Title</option>
                }
            </select>
            <div id="ChildCategory">

            </div>
            <input type="hidden" id="Category" />
        </div>
        <!---->

        <div class="form-row mt-3">
            <div class="form-group col-md-6">

                <input type="text" class="form-control form-control-sm" id="Title" placeholder="متن">

            </div>
            <div class="form-group col-md-2">
                <label for="FreeSSL">SSL رایگان</label>
                <input type="checkbox" id="FreeSSL" />
            </div>
            <div class="form-group col-md-2">
                <label for="Support">پشتیبانی</label>
                <input type="checkbox" id="Support" />
            </div>
            <div class="form-group col-md-4 mt-2">

                <input type="text" class="form-control form-control-sm" id="Space" placeholder="فضا">

            </div>

            <div class="form-group col-md-4 mt-2">

                <input type="text" class="form-control form-control-sm" id="Monthly-Traffic" placeholder="ترافیک ماهانه">

            </div>
            <div class="form-group col-md-4 mt-2">

                <input type="text" class="form-control form-control-sm" id="Sites-Be-Hosted" placeholder="تعداد سایت روی هاست">

            </div>

            <div class="form-group col-md-4 mt-2">

                <input type="text" name="currency-field" id="threeMonthsCost" class="form-control form-control-sm" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" placeholder="هزینه سه ماهه">

            </div>
            <div class="form-group col-md-4 mt-2">

                <input type="text" name="currency-field" id="SixMonthsCost" class="form-control form-control-sm" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" placeholder="هزینه شش ماهه">


            </div>
            <div class="form-group col-md-4 mt-2">
                <input type="text" name="currency-field" id="AnnuallyCost" class="form-control form-control-sm" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" placeholder="هزینه سالانه">


            </div>

        </div>
        <!--second region in the madal-->
        <hr />
        <label for="Title">افزودن جزئیات هاست</label>
        <div class="form-row mt-1">

            <div class="form-group col-md-6">

                <input type="text" class="form-control form-control-sm" id="title" placeholder="متن">
            </div>
            <div class="form-group col-md-6">

                <input type="text" class="form-control form-control-sm" id="Response" placeholder="پاسخ">
            </div>
            <div class="form-group col-md-2">
                <label for="1" id="lblHardware">سخت افزاری</label>
                <input type="radio" name="alpha" id="1" />
            </div>
            <div class="form-group col-md-2">
                <label for="2" id="lblSoftware">نرم افزاری</label>
                <input type="radio" name="alpha" id="2" />
            </div>
            <div class="form-group col-md-2">
                <label for="3" id="lblMore">بیشتر</label>
                <input type="radio" name="alpha" id="3" />
            </div>
        </div>

        @* Buton *@
        <a id="TblDataAdder" onclick="AddTblData()"
           class="btn btn-info btn-sm text-white margin-auto-right mb-2"><i class="fas fa-plus-circle"></i>افزودن جزئیات</a>

        <div class="table-responsive flex">
            <table class="table fixed">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">متن</th>
                        <th scope="col">متن</th>
                        <th scope="col">گزینه مورد نظر</th>
                        <th scope="col">عملیات</th>
                    </tr>
                </thead>
                <tbody id="tblMain"></tbody>
            </table>
        </div>


    </div>
    <div class="space-half"></div>
    <div class="modal-footer justify-content-end">
        <img src="~/img/gif/load.gif" class="loding justify-content-center d-none" />
        <a id="AddHostingService" class="btn btn-success btn-sm text-white"><i class="fas fa-plus-circle"></i>افزودن</a>
    </div>
</form>

<script src="~/Tools/Auto_Formatting_Currency.js"></script>
<script>

    $("#MainCategorySelect").change(function () {
        if ($("#MainCategorySelect option:selected").val() == 0) { } else {
            $.get("/Admin/Domain/P_ChildCategoryInCreate?ParentID=" + $("#MainCategorySelect option:selected").val(), function (result) {
                $("#ChildCategory").html(result);
                $("#Category").val($("#MainCategorySelect option:selected").val());
            });
        }
    });

    function AddTblData() {
        const table = document.getElementById('tblMain');
        const textAlpha = document.getElementById('title');
        const textBeta = document.getElementById('Response');
        const checkHardware = document.getElementById('1');
        const checkSoftware = document.getElementById('2');
        const checkMore = document.getElementById('3');

        if (textAlpha.value == '' || textAlpha.value == null) {
            alert('لطفا موارد خواسته شده را پرکنید')
            return;
        }
        if (textBeta.value == '' || textBeta.value == null) {
            alert('لطفا موارد خواسته شده را پرکنید')
            return;
        }


        let chosenText;
        if (checkHardware.checked) {
            chosenText = document.getElementById('lblHardware').innerHTML;
        }
        else if (checkSoftware.checked) {
            chosenText = document.getElementById('lblSoftware').innerHTML;
        }
        else if (checkMore.checked) {
            chosenText = document.getElementById('lblMore').innerHTML;
        }

        let ChosenID;
        if (checkHardware.checked) {
            ChosenID = checkHardware.id;
        }
        else if (checkSoftware.checked) {
            ChosenID = checkSoftware.id;
        }
        else if (checkMore.checked) {
            ChosenID = checkMore.id;
        }

        //table.innerHTML = table.innerHTML + '';

        table.innerHTML +=
            `
                                                                                                                    <tr class="DetailsRow" id="${textAlpha.value}${textBeta.value}">
                                                                                                                        <td>${textAlpha.value}</td>

                                                                                                                        <td>${textBeta.value}</td>
                                                                                                                        <td>
                                                                                                                            <small class="text-info">${chosenText}</small>
                                                                                                                        </td>
                                                                                                                        <td class="hide">
                                                                                                                          ${ChosenID}
                                                                                                                        </td>

                                                                                                                        <td>
                                                                                                                            <span data-placement="top" data-toggle="tooltip" title="" data-original-title="حذف">
                                                                                                                                <a onclick="DeleteRow('${textAlpha.value}${textBeta.value}')"><i class="btn fas fa-trash mr-2 text-danger"></i></a>
                                                                                                                            </span>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                    `

        textAlpha.value = "";
        textBeta.value = "";

    }

    function DeleteRow(row) {
        const element = document.getElementById(row);
        element.parentElement.removeChild(element);
    }

    $("#AddHostingService").click(function () {
        if ($("#Category").val() == null || $("#Category").val() == "") {
            $("#AddHostingService").removeClass("btn-success");
            $("#AddHostingService").addClass("btn-danger");
            $("#AddHostingService").html("دسته بندی را وارد کنید");
        } else {
            $("#AddHostingService").addClass("btn-success");
            $("#AddHostingService").removeClass("btn-danger");
            $("#AddHostingService").html("<i class='fas fa-plus-circle'></i>افزودن");

            if ($("#Title").val() == null || $("#Title").val() == "" || $("#Space").val() == null || $("#Space").val() == "" || $("#Monthly-Traffic").val() == null || $("#Monthly-Traffic").val() == "" || $("#Sites-Be-Hosted").val() == null || $("#Sites-Be-Hosted").val() == "" || $("#threeMonthsCost").val() == null || $("#threeMonthsCost").val() == "" || $("#SixMonthsCost").val() == null || $("#SixMonthsCost").val() == "" || $("#AnnuallyCost").val() == null || $("#AnnuallyCost").val() == "") {
                $("#AddHostingService").removeClass("btn-success");
                $("#AddHostingService").addClass("btn-danger");
                $("#AddHostingService").html("گزینه های اجباری را وارد کنید");
                $(".form-control").css("border", "1px solid red");
            } else {
                $("#AddHostingService").addClass("btn-success");
                $("#AddHostingService").removeClass("btn-danger");
                $("#AddHostingService").html("<i class='fas fa-plus-circle'></i>افزودن");
                $(".form-control").css("border", "");

                var Category = $("#Category").val();
                var Title = $("#Title").val();

                if ($("#FreeSSL").is(":checked")) {
                    var FreeSSL = "1";
                } else {
                    var FreeSSL = "0";
                }

                if ($("#Support").is(":checked")) {
                    var Support = "1";
                } else {
                    var Support = "0";
                }
                
                var Space = $("#Space").val();
                var MonthlyTraffic = $("#Monthly-Traffic").val();
                var SitesBeHosted = $("#Sites-Be-Hosted").val();
                var threeMonthsCost = $("#threeMonthsCost").val();
                var SixMonthsCost = $("#SixMonthsCost").val();
                var AnnuallyCost = $("#AnnuallyCost").val();
                if ($("#tblMain").html() == null || $("#tblMain").html() == "") {
                    $("#AddHostingService").removeClass("btn-success");
                    $("#AddHostingService").addClass("btn-danger");
                    $("#AddHostingService").html("حدقل یک جز وارد کنید");
                } else {
                    $("#AddHostingService").addClass("btn-success");
                    $("#AddHostingService").removeClass("btn-danger");
                    $("#AddHostingService").html("<i class='fas fa-plus-circle'></i>افزودن");
                    $(".loding").removeClass("d-none");

                    $.get("/Admin/Hosting/Create?Category=" + Category + "&Title=" + Title + "&FreeSSL=" + FreeSSL + "&Support=" + Support + "&Space=" + Space + "&MonthlyTraffic=" + MonthlyTraffic + "&SitesBeHosted=" + SitesBeHosted + "&threeMonthsCost=" + threeMonthsCost + "&SixMonthsCost=" + SixMonthsCost + "&AnnuallyCost=" + AnnuallyCost, function (HostingID) {

                        var len = $(".DetailsRow").length;
                        var Details = [];

                        for (let i = 0; i < len; i++) {
                            var part = $(".DetailsRow")[i]
                            var obj = {
                                HostingID: HostingID,
                                Title: part.children[0].innerHTML,
                                Response: part.children[1].innerHTML,
                                Kind: part.children[3].innerHTML,
                            }

                            Details.push(obj);
                        }

                        $.ajax(
                            {
                                url: "/Admin/Hosting/CreateHostingServiceDetails",
                                data: JSON.stringify(Details),
                                method: 'Post',
                                contentType: 'application/json',
                                dataType: 'json',
                                async: true,
                                success: function (data) {
                                    window.location.reload();
                                },
                                error: function () {
                                    returner = false;
                                }
                            });

                    });

                }




            }

        }
    });
</script>


