@model IEnumerable<DataLayer.HostingServiceDetails>

<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        جزئیات
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>متن</th>
                <th>پاسخ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
            <tr>
                <td>
                    جزئیات وجود ندارد
                </td>
                <td>
                   
                </td>
            </tr>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Response</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal-footer justify-content-end">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="btn btn-info btn-sm text-white">تایید</span>
        </button>
    </div>
</form>
