@model DataLayer.PackageByMainCategoryViewModel
@{
    ViewBag.Title = "محصولات";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@*<h2>نمایش محصولات بر اساس دسته بندی اصلی</h2>*@
<link href="~/Content/Styles/mainCategory.min.css" rel="stylesheet" />
<div class="categorySection">
    <div class="uk-margin-auto-right uk-margin-auto-left uk-margin-auto-top uk-margin-auto-bottom cover uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200">
        <img class="uk-margin-auto uk-margin-top center" src="~/img/products/mainCategoryCover.svg" width="600" />
    </div>

    <ul uk-accordion dir="rtl">
        @foreach (var item in Model.ServiceCategory.ChildCategories)
        {
            <li>
                <div class="uk-accordion-title serviceTitle" dir="rtl"> 
                    <img src="~/Document/img/Category/@item.Image" width="66" />@item.Title
                <img class="arrowDown" src="~/img/products/arrow.svg" width="20"/>
                </div>
                <div class="uk-accordion-content childGrid">
                    <content class="grid " dir="rtl">

                        @foreach (var Product in item.PackageServices)
                        {
                            <article class="my-column mat my-clipped uk-padding-small">
                                <content>
                                    <div class="center">
                                        <img src="~/Document/img/Package/@Product.Image" width="60" />
                                    </div>
                                    <h5 class="center">@Product.Title</h5>
                                    <ul class="my-column uk-padding-remove" dir="rtl">

                                        @foreach (var Detail in Product.PackageServiceDetails)
                                        {
                                            <li><i class="fas fa-check uk-text-success"></i>@Detail.Title</li>
                                        }

                                    </ul>
                                    <a class="ServiceButton" href="/Product/@Product.ID/@Product.Title.Replace(" ","-")">جزئیات و سفارش</a>
                                </content>
                            </article>
                        }

                    </content>
                </div>
            </li>
        }
    </ul>
</div>



