<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        افزودن اسلایدر
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Title">عنوان</label>
                <input type="text" class="form-control form-control-sm" id="Title" placeholder="عنوان">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Title">لینک</label>
                <input type="text" class="form-control form-control-sm" id="Link" placeholder="لینک">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="custom-file">
                    <input type="file" class="custom-file-input form-control form-control-sm" id="Image" accept="image/jpg,image/png">
                    <label class="custom-file-label" for="Image" data-browse="انتخاب" id="FileName">انتخاب فایل</label>
                </div>
                <small class="text-success">سایز مناسب تصویر 360px X 360px</small>
            </div>
        </div>
    </div>
    <div class="space"></div>
    <div class="modal-footer justify-content-end">
        <img src="~/img/gif/load.gif" class="loding justify-content-center d-none" />
        <a id="BtnAddSlider" class="btn btn-success btn-sm text-white"><i class="fas fa-plus-circle"></i>افزودن</a>
    </div>
</form>

<script src="~/Areas/Admin/CommandJs/Slider.js"></script>
