<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        افزودن اسلایدر
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Title">عنوان</label>
                <input type="text" class="form-control form-control-sm" id="Title" placeholder="عنوان">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Title">لینک</label>
                <input type="text" class="form-control form-control-sm" id="Link" placeholder="لینک">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="custom-file">
                    <input type="file" class="custom-file-input form-control form-control-sm" id="Image">
                    <label class="custom-file-label" for="Image" data-browse="انتخاب" id="FileName">انتخاب فایل</label>
                </div>
                <small class="text-success">سایز مناسب تصویر 280px X 400px</small>
            </div>
        </div>
    </div>
    <div class="space"></div>
    <div class="modal-footer justify-content-end">
        <img src="~/img/gif/load.gif" class="loding justify-content-center d-none" />
        <a id="BtnAddSlider" class="btn btn-success btn-sm text-white"><i class="fas fa-plus-circle"></i>افزودن</a>
    </div>
</form>

<script>
    $("#BtnAddSlider").click(function () {
        if ($("#Title").val() == null || $("#Title").val() == "" || $("#Link").val() == null || $("#Link").val() == "" || $("#Image").val() == null || $("#Image").val() == "") {
            $("#BtnAddSlider").html("تمامی موارد اجباری میباشد");
            $("#BtnAddSlider").addClass('btn-danger');
            $("#BtnAddSlider").removeClass('btn-success');
        } else {
            $("#BtnAddSlider").html("<i class='fas fa-plus-circle'></i>افزودن");
            $("#BtnAddSlider").removeClass('btn-danger');
            $("#BtnAddSlider").addClass('btn-success');

            $(".loding").removeClass("d-none");
            var data = new FormData();
            var files = $("#Image").get(0).files;
            if (files.length > 0) {
                data.append("UploadSliderImageFile", files[0]);
            }

            $.ajax({
                url: "/Admin/Upload/UploadSliderImage",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    var Title = $("#Title").val();
                    var Link = $("#Link").val();
                    var Image = response;

                    $.post("/Admin/HomeSetting/SliderCreate?Title=" + Title + "&Link=" + Link + "&Image=" + Image, function (result) {

                        if (result == "true") {
                            $("#Slider").click(function () {
                                $("#card-table").html("<img src='/img/gif/load.gif' class='loding justify-content-center' />");
                                $.get("/Admin/HomeSetting/P_Slider", function (result) {
                                    $("#card-table").html(result);
                                });
                            });
                        } else {
                            alert(result);
                        }

                    });
                }
            });
        }
    });
</script>
