<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>

    <!--UIkit-->
    <link href="~/Content/UIkit/styles/uikit.min.css" rel="stylesheet" />
    <!--sass file-->
    <link href="~/Content/Styles/Home.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/Controls.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/LoginRegister.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/category.min.css" rel="stylesheet" />
    <!--fonts-->
    <link rel="stylesheet" href="~/fonts/fontawesome/css/all.css">
    <link rel="stylesheet" href="~/fonts/fontawesome/css/fontawesome.css">

    <!--Owl Carousel CSS-->
    @*<link href="~/Content/Styles/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />
        <link href="~/Content/Styles/OwlCarousel/owl.theme.default.min.css" rel="stylesheet" />*@


    <!--Admin page styles-->
    @*<link href="~/Areas/Admin/style.css" rel="stylesheet" />
        <link href="~/Areas/Admin/style-rtl.css" rel="stylesheet" />*@

    <script src="~/Scripts/UIkit/uikit-icons.min.js"></script>
</head>
<body>
    <!--header region-->
    <header id="LayoutHeader" class="my-row">
        <div class="loginDesktop my-row" dir="rtl">

            @*Partial View*@

            @if (User.Identity.IsAuthenticated)
            {
                <button class="uk-text-bold my-column" onclick="window.location.href='/User/Dashboard'">
                    <div class="my-row margin-auto-top margin-auto-bottom margin-auto-left margin-auto-right">
                        <i class="fas fa-user-circle margin-auto-bottom margin-auto-top uk-margin-small-left"></i>
                        <span class="margin-auto-bottom margin-auto-top ">@User.Identity.Name</span>
                    </div>
                </button>
            }
            else
            {
                <button class="uk-text-bold my-column" onclick="window.location.href='/Account/Login'">
                    <div class="my-row margin-auto-top margin-auto-bottom margin-auto-left margin-auto-right">
                        <i class="fas fa-user-circle margin-auto-bottom margin-auto-top uk-margin-small-left"></i>
                        <span class="margin-auto-bottom margin-auto-top ">ورود به پورتال</span>
                    </div>
                </button>
            }

            <img class=" uk-margin-medium-left" src="~/img/Admin/logo/ArvinTavLogo.svg" />
        </div>
        <ul class="navBar uk-navbar-nav uk-text-bold " style="overflow:visible!important" dir="rtl">
            <li class="menuComponent HomePage">
                <a href="#"><i class="uk-margin-small-left fas fa-home"></i>خانه</a>
            <li class="menuComponent">
                <a href="#">میزبانی</a>
                <div uk-dropdown="pos: bottom-justify; boundary: .boundary-align; boundary-align: true" class="uk-padding-remove">
                    <div class="uk-flex uk-flex-between">
                        <ul class="uk-nav uk-dropdown-nav uk-padding ">
                            <li class="uk-nav-header"><a href="/c">هاست ویندوز</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="/products"> معمولی </a></li>
                            <li><a href="/products">حرفه ای </a></li>

                        </ul>
                        <ul class="uk-nav uk-dropdown-nav uk-padding ">
                            <li class="uk-nav-header"><a href="/c">هاست لینوکس</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="/products"> معمولی </a></li>
                            <li><a href="/products"> حرفه ای </a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="menuComponent">
                <a href="#">ویژگی ها</a>

            </li>
            <li class="menuComponent">
                <a href="#">برنامه ها</a>

            </li>
            <li class="menuComponent">
                <a href="#">ارتباط با ما</a>
            </li>
        </ul>

        @* header for mobile version*@


        <a class="hamburger-button uk-margin-auto" href="#menu" uk-toggle="target: #menu"> <i class="fas fa-bars"></i></a>
        <div id="menu" uk-offcanvas="overlay: true; flip: true" dir="rtl">
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>

                <div class="loginMobile my-row" dir="rtl">
                    <img class="LogoPicMobile" src="~/img/Admin/logo/ArvinTavLogo.svg" />
                    <button class="uk-text-bold my-column" onclick="window.location.href='/account/login'">
                        <div class="my-row margin-auto-top margin-auto-bottom margin-auto-left margin-auto-right">
                            <i class="fas fa-user-circle margin-auto-bottom margin-auto-top uk-margin-small-left"></i>
                            <span class="margin-auto-bottom margin-auto-top ">ورود به پورتال</span>
                        </div>
                    </button>


                </div>
                <ul class="uk-text-bold uk-margin-remove-top" dir="rtl">
                    <li class="uk-active">
                        <a href="#"><i class="uk-margin-small-left fas fa-home"></i>خانه</a>
                    <li>
                        <a href="#">میزبانی</a>
                        <div uk-dropdown="pos: bottom-justify">
                            <div class="uk-flex-column uk-flex-between ">
                                <ul class="uk-nav uk-dropdown-nav ">
                                    <li class="uk-nav-header"><a href="/c">هاست ویندوز</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="/products"> معمولی </a></li>
                                    <li><a href="/products">حرفه ای </a></li>
                                </ul>
                                <ul class="uk-nav uk-dropdown-nav ">
                                    <li class="uk-nav-header"><a href="/c">هاست لینوکس</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="/products"> معمولی </a></li>
                                    <li><a href="/products">حرفه ای </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">ویژگی ها</a>

                    </li>
                    <li>
                        <a href="#">برنامه ها</a>

                    </li>
                    <li>
                        <a href="#">ارتباط با ما</a>

                    </li>
                </ul>

            </div>
        </div>

        <!--end mobile version-->

    </header>

    <!--end region-->

    @RenderBody()

    <!--footer region-->
    <footer class="my-column uk-margin-large-top uk-padding">
        <div class="footerContent my-row uk-padding" dir="rtl">
            <content class="LogoFooter my-column uk-padding">
                <img class="center" src="~/img/Admin/logo/ArvinTavLogo.svg" />
                <label class="center">ایده پرداز آروین تاو</label>
                <label class="center" dir="ltr">&copy; 2020 arvintav</label>
            </content>
            <content class="SupportFooter my-column uk-padding ">
                <h6>پشتیبانی</h6>
                <a>پشتیبانی فنی</a>
                <a>پشتیبانی فروش</a>
            </content>
            <content class="SupportFooter my-column uk-padding  ">
                <h6>پشتیبانی</h6>
                <a>پشتیبانی فنی</a>
                <a>پشتیبانی فروش</a>
            </content>
            <content class="SupportFooter my-column uk-padding  ">
                <h6>پشتیبانی</h6>
                <a>پشتیبانی فنی</a>
                <a>پشتیبانی فروش</a>
            </content>

        </div>
        <hr />
        <div class="my-row footerEnd " dir="rtl">
            <div class="Address my-column uk-margin-right uk-padding-small" dir="rtl">
                <div class="my-row ">
                    <img src="~/img/Home/svg/Location.svg" />
                    <label>
                        چایکنار-بعد از پل منصور به سمت آبرسان-ساختمان عمارت صبا-طبقه همکف غربی
                    </label>
                </div>

                <div class="my-row ">
                    <img src="~/img/Home/svg/Phone.svg" />
                    <label dir="ltr">
                        041 - 33371059 - 33373556
                    </label>
                </div>
                <div class="my-row ">
                    <img src="~/img/Home/svg/CellPhone.svg" />
                    <label dir="ltr">
                        0914 501 6607
                    </label>
                </div>
                <div class="my-row ">
                    <img src="~/img/Home/svg/Mail.svg" />
                    <label dir="ltr">
                        info@arvintavco.com
                    </label>
                </div>
            </div>
            <div class="footerContact my-column my-clipped uk-margin-auto-right uk-margin-auto-top uk-margin-auto-bottom uk-margin-xlarge-left" dir="rtl">
                <div class="LoginFooter my-row uk-margin-auto-right uk-margin-top">
                    <input type="text" placeholder="ورود به سایت" />
                    <button type="submit">ورود</button>
                </div>
                <div class="contactIcons my-row uk-margin-auto-right uk-margin-large-left ">
                    <a class="contactIcon" href="#"><i class="fab fa-instagram fa-2x uk-padding-small"></i></a>
                    <a class="contactIcon" href="#"><i class="fas fa-phone fa-2x uk-padding-small"></i></a>
                    <a class="contactIcon" href="#"><i class="fab fa-facebook fa-2x uk-padding-small"></i></a>
                </div>
            </div>
        </div>

    </footer>
    <!-- end region -->

</body>
</html>

<script src="~/Scripts/UIkit/uikit-icons.js"></script>
<script src="~/Scripts/UIkit/uikit.min.js"></script>
<script src="~/Scripts/UIScripts/Global.js"></script>
<script src="https://www.google.com/recaptcha/api.js?hl=fa"></script>

<!--scroll-->
<script>

    let last_known_scroll_position = 0;

    window.addEventListener('scroll', function () {
        last_known_scroll_position = window.scrollY;

        if (last_known_scroll_position > 0) {
            document.getElementById('LayoutHeader').classList.add('layout-header-scrolled')
        }
        else {
            document.getElementById('LayoutHeader').classList.remove('layout-header-scrolled')
        }

    });


</script>
