<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!--UIkit-->
    <link href="~/Content/UIkit/styles/uikit.min.css" rel="stylesheet" />
    <!--sass file-->
    <link href="~/Content/Styles/Home.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/Controls.min.css" rel="stylesheet" />
    <!--fonts-->
    <link rel="stylesheet" href="~/fonts/fontawesome/css/all.css">
    <link rel="stylesheet" href="~/fonts/fontawesome/css/fontawesome.css">

    <!--Owl Carousel CSS-->
    @*<link href="~/Content/Styles/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />
        <link href="~/Content/Styles/OwlCarousel/owl.theme.default.min.css" rel="stylesheet" />*@


    <!--Admin page styles-->
    @*<link href="~/Areas/Admin/style.css" rel="stylesheet" />
        <link href="~/Areas/Admin/style-rtl.css" rel="stylesheet" />*@

    <script src="~/Scripts/UIkit/uikit-icons.min.js"></script>
</head>
<body>
    <!--header region-->
    <header id="LayoutHeader" class="my-row">
        <img class="LogoPic uk-padding-small uk-margin-medium-left" src="~/img/Admin/logo/ArvinTavLogo.svg" />
        <ul class="navBar uk-navbar-nav uk-padding-small uk-margin-larg-right uk-text-bold" dir="rtl">
            <li class="HomePage uk-active"><a href="#">خانه</a></li>
            <li>
                <a href="#">خدمات</a><div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="#">سرویس 1</a></li>
                        <li><a href="#">سرویس 2</a></li>
                        <li><a href="#">سرویس 3</a></li>
                        <li><a href="#">سرویس 4</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">ویژگی ها</a>

            </li>
            <li>
                <a href="#">برنامه ها</a>

            </li>
            <li>
                <a href="#">ارتباط با ما</a>

            </li>
        </ul>

        @* header for mobile version*@


        <a class="hamburger-button uk-margin-auto" href="#menu" uk-toggle="target: #menu"> <i class="fas fa-bars"></i></a>
        <div id="menu" uk-offcanvas="overlay: true; flip: true" dir="rtl">
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <ul class="uk-text-bold" dir="rtl">
                    <li class="uk-active"><a href="#">خانه</a></li>
                    <li>
                        <a href="#">خدمات</a>
                    </li>
                    <li>
                        <a href="#">ویژگی ها</a>

                    </li>
                    <li>
                        <a href="#">برنامه ها</a>

                    </li>
                    <li>
                        <a href="#">ارتباط با ما</a>

                    </li>
                </ul>
            </div>
        </div>

        <!--end mobile version-->

    </header>

    <!--end region-->

    @RenderBody()

    <!--footer region-->
    <footer class="my-column uk-margin-large-top uk-padding">
        <div class="footerContent my-row uk-margin-large-top uk-margin-large-bottom" dir="rtl">

            <div class="my-column uk-padding uk-margin-right">
                <img class="center" src="~/img/Admin/logo/ArvinTavLogo.svg" />
                <label class="center">ایده پرداز آروین تاو</label>
                <label class="center">ایده پرداز آروین تاو</label>
                <label class="center">ایده پرداز آروین تاو</label>
                <div dir="ltr">&copy; 2020 arvintav</div>
            </div>

            <div class="my-column uk-padding uk-margin-xlarge-right ">
                <h4>هدر1</h4>
                <a>گزینه گزینه گزینه1</a>
                <a>گزینه1 گزینه گزینه</a>
                <a>گزینه گزینه گزینه1</a>
            </div>
            <div class="my-column uk-padding uk-margin-xlarge-right ">
                <h4>هدر2</h4>
                <a>گزینه گزینه گزینه1</a>
                <a>گزینه  گزینه گزینه1</a>
                <a>گزینه گزینه گزینه1</a>
            </div>
            <div class="my-column  uk-margin-auto-right uk-margin-auto-top uk-margin-auto-bottom ">
                <div class="emailBar">
                    <input class="EmailAddress" type="email" placeholder=" آدرس ایمیل" />
                    <input class="subscribe" type="submit" />
                </div>
                @*<a href="" uk-icon="icon: instagram"></a>*@
                <div class="contactIcons my-row uk-margin-large-right uk-margin-small-top">
                    <a class="contactIcon" href="#"><i class="fab fa-instagram fa-2x uk-padding-small"></i></a>
                    <a class="contactIcon" href="#"><i class="fas fa-phone fa-2x uk-padding-small"></i></a>
                    <a class="contactIcon" href="#"><i class="fab fa-facebook fa-2x uk-padding-small"></i></a>
                </div>

                @*<i class="btn fas fa-network-wired text-success">mehdi</i>
                    <i class="btn fas fa-edit mr-2 text-primary"></i>*@
            </div>



        </div>
    </footer>
    <!-- end region -->

</body>
</html>

<script src="~/Scripts/UIkit/uikit-icons.js"></script>
<script src="~/Scripts/UIkit/uikit.min.js"></script>
<script src="~/Scripts/UIScripts/Global.js"></script>

<!--scroll-->
<script>

    let last_known_scroll_position = 0;

    window.addEventListener('scroll', function () {
        last_known_scroll_position = window.scrollY;

        if (last_known_scroll_position > 0) {
            document.getElementById('LayoutHeader').classList.add('layout-header-scrolled')
        }
        else {
            document.getElementById('LayoutHeader').classList.remove('layout-header-scrolled')
        }

    });

</script>
