@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "خطا";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<link href="~/Content/ErorrPage.css" rel="stylesheet" />

<section class="error-container" style="height:500px;">
    <span style="height:200px;">4</span>
    <span style="height:300px;"><span class="screen-reader-text" style="font-size:100px;">0</span></span>
    <span style="height:200px;">4</span>
    <span style="height:300px;">صفحه مورد نظر یافت نشد</span>
</section>

