@model IEnumerable<DataLayer.ServiceCategory>
<ul class="uk-text-bold uk-margin-remove-top" dir="rtl">
    <li class="uk-active">
        <a href="/"><i class="uk-margin-small-left fas fa-home"></i>خانه</a>
        @foreach (var item in Model)
        {
        <li>
            <a href="#">@item.Title</a>
            <div uk-dropdown="pos: bottom-justify">
                <div class="uk-flex-column uk-flex-between ">

                    @Html.Action("P_ChildCategoryMobile", "Home", new { ID = item.ID })

                </div>
            </div>
        </li>
    }
        <li>
            <a href="/blog">مرکز آموزش</a>
        </li>
        <li>
            <a href="/Home/ContactUs">ارتباط با ما</a>
        </li>
    </ul>
