@model IEnumerable<DataLayer.ServiceCategory>
<ul class="navBar uk-navbar-nav uk-text-bold overflow-visible" dir="rtl">
    <li class="menuComponent HomePage">
        <a href=""><i class="uk-margin-small-left fas fa-home"></i>خانه</a>
    </li>
    @foreach (var item in Model)
    {

        <li class="menuComponent">
            <a href="#">@item.Title</a>
            <div uk-dropdown="pos: bottom-justify; boundary: .boundary-align; boundary-align: true" class="uk-padding-remove">
                <div class="uk-flex uk-flex-between">
                    @Html.Action("P_ChildCategory", "Home", new { ID = item.ID })
                </div>
            </div>
        </li>
    }

    <li>
        <a href="/blog">مرکز آموزش</a>
    </li>
    <li>
        <a href="#">درباره ما</a>
    </li>
    <li>
        <a href="#">تماس با ما</a>
    </li>
</ul>
