@model IEnumerable<DataLayer.ServiceCategory>

@foreach (var item in Model)
{
    <li class="uk-nav-header"><label class="subCategory">@item.Title</label></li>
    @Html.Action("P_ResultCategory", "Home", new { ID = item.ID })
}
