<div id="card-table" class="card-body flex-div">
    <div class="table-responsive flex">
        <table class="table fixed">
            <thead class="thead-light">
                <tr>
                    <th scope="col">عنوان</th>
                    <th scope="col">وضعیت</th>
                    <th scope="col">عملیات</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    </td>
                    <td class="text-success">
                        تکمیل شده
                    </td>
                    <td>
                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="ویرایش">
                            <a id="EditList" data-toggle="modal" data-target="#modalSave"><i class="fas fa-edit text-primary"></i></a>
                        </span>
                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="روشن">
                            <a><i class="text-success fas fa-toggle-on"></i></a>
                        </span>
                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="خاموش">
                            <a><i class="text-danger fas fa-toggle-off"></i></a>
                        </span>

                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="حذف">
                            <a id="DelFromList" data-toggle="modal" data-target="#modalSave"><i class="fas fa-trash text-danger"></i></a>
                        </span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>


