

<div class="modal-header">
    <h6 class="modal-title mr-3" id="modalCenterTitle">
        جزئیات سفارش
    </h6>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div id="card-table" class="card-body flex-div">
            <div class="form-row ">
                <div class="form-group col-md-5">
                    <label>کد سفارش:</label>
                    <span>486546</span>
                </div>
                <div class="form-group col-md-5">
                    <label>بسته مربوطه:</label>
                    <span>طراحی سایت</span>
                </div>
                <div class="form-group col-md-5">
                    <label>زمان:</label>
                    <span>زمان سفارش</span>
                </div>
                <div class="form-group col-md-5">
                    <label>وضعیت:</label>
                    <span class="text-info">منتظر پرداخت</span>
                </div>
            </div>
            <label>توضیحات سفارش:</label>
            <div class="bg-costum p-3 text-justify uk-border-rounded" rows="6">
                طراحان سایت هنگام طراحی قالب سایت معمولا با این موضوع رو برو هستند که محتوای اصلی صفحات آماده نیست. در نتیجه طرح کلی دید درستی به کار فرما نمیدهد. اگر طراح بخواهد دنبال متن های مرتبط بگردد تمرکزش از روی کار اصلی برداشته میشود و اینکار زمان بر خواهد بود. همچنین طراح به دنبال این است که پس از ارایه کار نظر دیگران را در مورد طراحی جویا شود و نمی‌خواهد افراد روی متن های موجود تمرکز کنند.
                از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند که قالب طراحی شده بعد از اینکه متن در آن قرار میگرد چگونه خواهد بود و فونت ها و اندازه ها چگونه در نظر گرفته شده است.
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-row ml-4 ">

            <label class="uk-text-bold">قیمت کل:</label>
            <span class="text-success uk-text-bold mr-1">30000</span>

        </div>
    </div>
</form>
